<!DOCTYPE html>

{% extends "basetemplate.html" %}
{% block navblockleft %}
<h4 class="fontstyle1"><span class ="glyphicon glyphicon-user"></span> {{username}} </h4>
{% endblock %}

{% block navblockright %}
{% include "userprofiletest1.html" %}
{% endblock %}

{% block navblockfilterform %}
{% endblock %}

{% block content %}
  <div class="col-sm-12 col-md-12 col-lg-12">
    <table  id="example" class="table" style="width:100%">
      <thead class="">
      <tr class="fontstyle4 fontsize15 fontfamilycambria widthsize25per backgroundcolor1" >
        <td >ID <span><a onclick="clickfunction()" class ="glyphicon glyphicon-plus"></a></span></td>
        <td >Report Type</td>
        <td >Report Name</td>
        <td >Report Frequency</td>
        <td >Days Type (WD/CD)</td>
        <td >Delivery Days</td>
        <td >Delivery Times</td>
        <td >Primary Owner</td>
        <td >Secondary Owner</td>
        <td >Description</td>
        <td >Activity Status</td>
        <td >Add: Error|Feedback  </td>
        <td >Edit </td>
        </tr>
      </thead>
      <tbody class="">
    {%for data in model %}
      <tr class="">
      <td>{{data.activityid}} </td>
      <td>{{data.requestcategorys }}</td>
      <td>{{data.name }}</td>
      <td>{{data.frequency }}</td>
      <td>{{data.date_types }}</td>
      <td>{{data.delivery_days }}</td>
      <td>{{data.deliverytime }}</td>
      <td>{{data.primaryowner }}</td>
      <td>{{data.secondaryowner }}</td>
      <td>{{data.description }}</td>
      <td>{{data.activitystatus }}</td>
      <td> <a href="{% url 'errorlog' data.activityid %}" class="glyphicon glyphicon-plus"></a> | <a  href="{% url 'viewfeedbackquestion' data.activityid  %}" class="glyphicon glyphicon-plus"></a></td>
      <td ><span><a href="{% url 'editreport' data.activityid %}"  onclick="clickfunction()" >click</a></span></td>

        {% endfor %}
      </tr></br>
    </tbody>
    </table>
  </div>

  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-body">
        {% include "dynamic_form.html" %}
    </div>
    </div>
  </div>

<script>
 function clickfunction() {
      modal.style.display = "block";
  }
 </script>
{% endblock %}

{% block javascript %}
{% endblock %}

{% block footer %}
{% include "userprofilefootertest1.html" %}
{% endblock %}
