{% extends "base_model_template.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load staticfiles %}

{% block style %}
{% endblock %}
{% block content %}
<form class="form" method="POST" action="" class='form-inline ' enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_form_errors form type='non_fields' %}

<div class="col-sm-12 col-md-12 col-lg-12">
<div >
<h3 class="col-sm-12 col-md-12 col-lg-12 head">OT Form</h3>
</div>
</div>

<div class="col-sm-12 col-md-12 col-lg-12">
  <div class="col-sm-12 col-md-12 col-lg-12">
  <label>{{msg}}<label>
  </div>
<div >
<label class="col-sm-12 col-md-12 col-lg-4  hidden">{% bootstrap_label 'TimeTracker ID'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 hidden">{% bootstrap_field form.timetrackers  show_label=False layout='inline'  %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4 ">{% bootstrap_label 'Start Date-time'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 ">{% bootstrap_field form.ot_startdatetime  show_label=False    %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4 ">{% bootstrap_label 'End Date-time'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 ">{% bootstrap_field form.ot_enddatetime  show_label=False  placeholder='Error Reported Team' %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4 hidden">{% bootstrap_label 'OT hours'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 hidden">{% bootstrap_field form.ot_hrs  show_label=False  placeholder='Error Reported To' %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4 hidden">{% bootstrap_label 'OT Status'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 hidden">{% bootstrap_field form.ot_status show_label=False  placeholder='Error Reported To' %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4 ">{% bootstrap_label 'Upload File'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 ">{% bootstrap_field form.otdocument  show_label=False  placeholder='Error Reported Team' %}</span>
</div>
</div>

<div class="col-sm-12 col-md-12 col-lg-7">
{%if msg == "" %}
<div class="col-sm-12 col-md-12 col-lg-3 ">{% buttons %}<button type="submit" class="btn btn-success"> Submit</button>{% endbuttons %}</div>
<div class="col-sm-12 col-md-12 col-lg-3 "><a href="{% url 'timetracker' %}" id="cancel" name="cancel" class="btn btn-danger">Cancel</a></div>
{% else %}
<div class="col-sm-12 col-md-12 col-lg-3 "><a href="{% url 'timetracker' %}" id="cancel" name="cancel" class="btn btn-danger">Cancel</a></div>
{% endif %}

</div>
</form>

<script type="text/javascript">
    $('.form_datetime').datetimepicker({
    weekStart: 1,
    todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
    showMeridian: 1
    });
</script>
<link rel="stylesheet" href="{% static 'datatable/dataTables.bootstrap.min.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'datatable/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'datatable/dataTables.bootstrap.min.js' %}"  charset="UTF-8"></script>

{% endblock %}
