{% extends "basetemplate.html" %}
{% load staticfiles %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/grid6.css' %}" type="text/css" />
{% endblock %}

{% block navblockright %}
{% include "userprofile1.html" %}
{% endblock %}

{% block navblockleft %}
<h4 class="fontstyle1"><span class ="glyphicon glyphicon-user"></span> {{username}} </h4>
{% endblock %}

{% block content %}
<html>
<body>

<div id="id1" class = "item1">
<h class="fontstyle1 fontsize20 fontfamilycambria widthsize25per"> Request Details (1)</h>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Request ID : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail1.requestid }} </span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Request Raised Date : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail1.requestraiseddate  }}</span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Request Priority : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail1.prioritydetail}} </span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Request Type : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail1.requesttypedetail }} </span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Request Owner : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail1.username }}</span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Request Description : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail1.requestdescription }}</span></div>
<h class="fontstyle1 fontsize20 fontfamilycambria widthsize25per"> Authorise Details (2)</h>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Authorised Date : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{detail2.authoriseddate }}</span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Authorised By : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail2.authoriserdetail }}</span></div>
<h class="fontstyle1 fontsize20 fontfamilycambria widthsize25per"> Assigning Details (3)</h>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Assigning Date: </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail4.assigneddate}}</span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Assigned By :  </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail4.assignedby}}</span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Assigned To :  </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail4.assignedto}}</span></div>
</div>

<div id="id2" class = "item2">
<h class="fontstyle1 fontsize20 fontfamilycambria widthsize25per"> Overview Details (4)</h>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Overview Date: </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail5.overviewdate}}</span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Provided By : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail5.providedby}}</span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Given To : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail5.mimember}}</span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> SOP Created : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail5.sopcreatedoptionsid}} </p></span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Download SOP: </label><span> <a href="{{ MEDIA_URL }}/media/{{ detail5.document}}"><span class="glyphicon glyphicon-cloud-download"></span></a></div>
<h class="fontstyle1 fontsize20 fontfamilycambria widthsize25per"> Estimation Details (5)</h>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Estimation Date : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail6.estimationdate}}</span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Estimation By : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail6.estimatedby}} </span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Estimation Hours : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail6.estimateddays}} </span></div>
<h class="fontstyle1 fontsize20 fontfamilycambria widthsize25per"> Estimation Acceptance Details (6)</h>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Est. Accept/Reject Date : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail7.estacceptrejectdate}}</span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Est. Accept/Reject By : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail7.estacceptrejectby}} </span></div>
</div>
<div id="id3" class = "item3">
<h class="fontstyle1 fontsize20 fontfamilycambria widthsize25per"> Completed Details (7)</h>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Completed Date : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail8.completeddate}}</span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Completed By : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail8.completedby}} </span></div>
<h class="fontstyle1 fontsize20 fontfamilycambria widthsize25per"> Date Details </h>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Request Rasied Date: </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail1.requestraiseddate}}</span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Authorised Date    : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail2.authoriseddate}} </span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Assigned Date      : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail4.assigneddate}} </span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Overview Date      : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail5.overviewdate}} </span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Estimation Date    : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail6.estimationdate}} </span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Accept/Reject Date : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail7.estacceptrejectdate}} </span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Completed Date     : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail8.completeddate}} </span></div>

</div>
</body>
</html>
{% endblock %}
