td {
  height: 50px;
    vertical-align: center;  
    font-family:'Cambria';
    font-size:16px;
    text-align: center;
           
}

.header {
height: 70%;
line-height: 35px;
width: 430px; 
background-color: #cc7a00;
font-family:'Cambria';
font-size:16px;
color: white;
margin-left: 20px;
}


.sbheader {
height: 70%;
line-height: 35px;
width: 200px; 
background-color:  #004d66;
font-family:'Cambria';
font-size:14px;
color: white;
margin-left: 20px;
}
