{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="{% static 'css/navbar0.css' %}" type="text/css" />
      <link rel="stylesheet" href="{% static 'css/fontstyle.css' %}" type="text/css" />

      <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

  </head>
  <body class="body">
    <div class="container ">
      <!-- Trigger the modal with a button -->
      <button type="button" id="modal" class="btn btn-info btn-lg hidden" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">Open Modal</button>
  <!-- Modal -->
  <div class="modal fade " id="myModal" role="dialog">
    <div class="modal-dialog ">
      <!-- Modal content-->
      <div class="modal-content box">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body ">
       {% block content %}
       {% endblock %}
      </div>

       <div class="modal-footer">
       </div>
     </div>
</div>
</div>
</div>
  </body>
<script>
$("#modal").trigger('click');
</script>

</html>
