
{% if activetab == "home" %}
<li {% if activetab1 == 'aboutteam' %} class="active" {%else%} {% endif %}><a href="{% url 'aboutteam' %}">About Team </a></li>
<li {% if activetab1 == 'whatwedo' %} class="active" {%else%} {% endif %}><a href="{% url 'whatwedo' %}">What we do? </a></li>
<li {% if activetab1 == 'governanceprocess' %} class="active" {%else%} {% endif %}><a href="{% url 'governanceprocess' %}">Governance Process </a></li>
<li {% if activetab1 == 'successstories' %} class="active" {%else%} {% endif %}><a href="{% url 'successstories' %}">Success Stories </a></li>
<li {% if activetab1 == 'comm_sugg' %} class="active" {%else%} {% endif %}><a href="{% url 'comm_sugg' %}">Comments & Suggestion </a></li>
{% elif activetab == "workflow" %}
<li {% if activetab1 == 'allrequest' %} class="active" {%else%} {% endif %}><a href="{% url 'allrequest' %}">All </a></li>
<li {% if activetab1 == 'unapproved' %} class="active" {%else%} {% endif %}><a href="{% url 'unapproved' %}">Unapproved </a></li>
<li {% if activetab1 == 'approved' %} class="active" {%else%} {% endif %}><a href="{% url 'approved' %}">Approved </a></li>
<li {% if activetab1 == 'assigned' %} class="active" {%else%} {% endif %}><a href="{% url 'assigned' %}">Assigned </a></li>
<li {% if activetab1 == 'overview' %} class="active" {%else%} {% endif %}><a href="{% url 'overview' %}">Overview </a></li>
<li {% if activetab1 == 'estimate' %} class="active" {%else%} {% endif %}><a href="{% url 'estimate' %}">Estimate </a></li>
<li {% if activetab1 == 'wip' %} class="active" {%else%} {% endif %}><a href="{% url 'wip' %}">WIP </a></li>
<li {% if activetab1 == 'completed' %} class="active" {%else%} {% endif %}><a href="{% url 'completed' %}">Completed </a></li>
<li {% if activetab1 == 'rejected' %} class="active" {%else%} {% endif %}><a href="{% url 'rejected' %}">Rejected </a></li>
{% elif activetab == "loginrequest" %}
<li {% if activetab1 == 'addrequest' %} class="active" {%else%} {% endif %}><a href="{% url 'addrequest' %}">Add Request </a></li>
<li {% if activetab1 == 'checkstatus' %} class="active" {%else%} {% endif %}><a href="{% url 'checkstatus' %}">Check Status </a></li>
{% elif activetab == "timetracker" %}
<li {% if activetab1 == 'tracker' %} class="active" {%else%} {% endif %}><a href="{% url 'tracker' %}">Tracker</a></li>
<li {% if activetab1 == 'otdetail' %} class="active" {%else%} {% endif %}><a href="{% url 'otdetail' %}">OT Details</a></li>
<li><a>To enter 'OT' click on ID</a></li>
{% elif activetab == "summary" %}
<li {% if activetab1 == 'extractdatafilter1' %} class="active" {%else%} {% endif %}><a href="{% url 'extractdatafilter1' %}">Report</a></li>
<li {% if activetab1 == 'summary' %} class="active" {%else%} {% endif %}><a href="{% url 'summary' %}">Summary</a></li>
{% elif activetab == "extractdatafilter" %}
<li {% if activetab1 == 'extractdatafilter1' %} class="active" {%else%} {% endif %}><a href="{% url 'extractdatafilter1' %}">Report</a></li>
<li {% if activetab1 == 'summary' %} class="active" {%else%} {% endif %}><a href="{% url 'summary' %}">Summary</a></li>
{% elif activetab == "feedback" %}
<li {% if activetab1 == 'tracker' %} class="active" {%else%} {% endif %}><a href="{% url 'tracker' %}">Tracker</a></li>
<li {% if activetab1 == 'summary' %} class="active" {%else%} {% endif %}><a href="{% url 'summary' %}">Summary</a></li>
{% elif activetab == "report" %}
<li {% if activetab1 == 'addreport' %} class="active" {%else%} {% endif %}><a href="{% url 'addreport' %}">Add Reports</a></li>
<li {% if activetab1 == 'allreports' %} class="active" {%else%} {% endif %}><a href="{% url 'allreports' %}">Reports Detail</a></li>
<li {% if activetab1 == 'errordetail' %} class="active" {%else%} {% endif %}><a href="{% url 'errordetail' %}">Error Detail</a></li>
{% elif activetab == "allreports" %}
<li {% if activetab1 == 'addreport' %} class="active" {%else%} {% endif %}><a href="{% url 'addreport' %}">Add Reports</a></li>
<li {% if activetab1 == 'allreports' %} class="active" {%else%} {% endif %}><a href="{% url 'allreports' %}">Reports Detail</a></li>
{% else  %}
<li {% if activetab1 == 'aboutteam' %} class="active" {%else%} {% endif %}><a href="{% url 'aboutteam' %}">About Team </a></li>
<li {% if activetab1 == 'whatwedo' %} class="active" {%else%} {% endif %}><a href="{% url 'whatwedo' %}">What we do? </a></li>
<li {% if activetab1 == 'governanceprocess' %} class="active" {%else%} {% endif %}><a href="{% url 'governanceprocess' %}">Governance Process </a></li>
<li {% if activetab1 == 'successstories' %} class="active" {%else%} {% endif %}><a href="{% url 'successstories' %}">Success Stories </a></li>
<li {% if activetab1 == 'comm_sugg' %} class="active" {%else%} {% endif %}><a href="{% url 'comm_sugg' %}">Comments & Suggestion </a></li>
{% endif %}
