{%if activetab == "signin" %}
<li {% if activetab == 'signin' %} class="active" {%else%} {% endif %}><a href="{% url 'signin' %}">Sign In </a></li>
<li {% if activetab == 'signup' %} class="active" {%else%} {% endif %}><a href="{% url 'signup' %}">Sign Up </a></li>
{% elif activetab == "signup" %}
<li {% if activetab == 'signin' %} class="active" {%else%} {% endif %} ><a href="{% url 'signin' %}">Sign In </a></li>
<li {% if activetab == 'signup' %} class="active" {%else%} {% endif %}><a href="{% url 'signup' %}">Sign Up </a></li>
{% else %}
{% for nav in header_navbar_list %}
<li {% if activetab == nav.1 %} class="active" {%else%} {% endif %} name={{nav.1}} value={{nav.1}}><a href="{% url url|add:nav.1 %}" > {{nav.0}} </a></li>
{% endfor %}
{% endif %}
