

body .btn-default{
  color: #999999;
  background-color: #333333;
  border-color: #333333;
}

label {
  color: #cc8800;
  font-family: Cambria;
  font-size: 15px;
}

h1 {
  color: #cc8800;
  font-family: Cambria;
  font-size: 20px;
}

.headerformat {
  color: #999999;
  font-family: Cambria;
  font-size: 20px;
  width: 20%;
}

.subheaderformat {
  color: #cc8800;
  font-family: Cambria;
  font-size: 12px;
  width: 20%;
  font-style: italic;
}

.tableheaderformat {
  color: #cc8800;
  font-family: Cambria;
  font-size: 12px;
  width: 20%;
  background-color: #333333;

}

.box {
  background-color: #333333;
  padding-top: 10px;
}

.box1 {
  background-color: #4c4c4c;
  padding-top: 10px;
}
.box2 {
  background-color: #404040;
  padding-top: 10px;
}
.box3 {
  background-color: #404040;
  padding-top: 10px;
}

.tablebodyformat {
  color:  #999999;
  font-family: Cambria;
  font-size: 12px;
  width: 20%;
  background-color: #005266;
}

  /*------------------------font_Color------------------------------------------------*/

.fontstyle1{color: #999999;}
.fonthoverstyle1{color: #595959;}
.fontsytle2{color: #cc8800;}
.fonthoverstyle2{color: #008020;}
.fontsytle3{color:#b37700;}
.fonthoverstyle3{color: #ffaa00;}
.fontstyle4{color: #cc8800;}
.fonthoverstyle4{color: #ff6666;}
.fontstyle5 {color:#404040;}
.fonthoverstyle5{color: #a6a6a6;}
.fontstyle6 {color:#000066;}
.fonthoverstyle6{color: #9999ff;}
.fontstyle7 {color: #993d00;}
.fonthoverstyle7{color: #ffb380;}
.fontstyle8 {color: #660066;}
.fonthoverstyle8 {color: #ff99ff;}
.fontstyle9 {color: #4d4d33;}
.fonthoverstyle9 {color:#e0e0d1;}
.fontstyle10 {color: #333333;}
.fonthoverstyle10 {color:#333333;}
.fontstyle11 {color: #005266;}



/*-----------------------------font_Family-------------------------------------------*/
.fontfamilycambria{font-family: Cambria;}
.fontfamilycalibri{font-family: calibri;}
/*-----------------------------font_Align-------------------------------------------*/
.fontstyletextalignleft {text-align: left;}
.fontstyletextalignright {text-align: right;}
.fontstyletextaligncenter {text-align: center;}
/*-----------------------------font_margin-------------------------------------------*/
.fontstyletextmarginleft2per {margin-left: 2%;}
.fontstyletextmarginleftp5er {margin-left: 5%;}
.fontstyletextmarginleftp10er {margin-left: 10%;}
.fontstyletextmarginleftp15er {margin-left: 15%;}
.fontstyletextmarginleft25per {margin-left: 25%;}
.fontstyletextmarginleftp35er {margin-left: 35%;}
.fontstyletextmarginleftp45er {margin-left: 45%;}
.fontstyletextmarginleftp55er {margin-left: 55%;}
.fontstyletextmarginright2per {margin-right: 2%;}
.fontstyletextmarginright5er {margin-right: 5%;}
.fontstyletextmarginright10er {margin-right: 10%;}
.fontstyletextmarginright15er {margin-right: 15%;}
.fontstyletextmarginright25er {margin-right: 25%;}
.fontstyletextmarginright35er {margin-right: 35%;}
.fontstyletextmarginright45er {margin-right: 45%;}
/*-----------------------------font_size-------------------------------------------*/
.fontsize2{font-size: 2px;}
.fontsize5{font-size: 5px;}
.fontsize8{font-size: 8px;}
.fontsize10{font-size: 10px;}
.fontsize11{font-size: 11px;}
.fontsize12{font-size: 12px;}
.fontsize13{font-size: 13px;}
.fontsize14{font-size: 14px;}
.fontsize15{font-size: 15px;}
.fontsize20{font-size: 20px;}
.fontsize25{font-size: 25px;}
.fontsize30{font-size: 30px;}
.fontsize35{font-size: 35px;}
.fontsize40{font-size: 40px;}
/*-----------------------------font_border-------------------------------------------*/
.borderstyledotted {border-bottom-style: dotted;}
.bordercolor1 {border-bottom-color: #005266;
               border-right-color: #005266;
               border-left-color: #005266;
               border-top-color: #005266;
             }
.bordercolor2 {border-bottom-color:  #cc8800;
              border-right-color:  #cc8800;
              border-left-color:  #cc8800;
              border-top-color:  #cc8800;
            }


.bordercolorbottom1 {border-bottom-color: #cc7a00;}
.borderwidthsize1px {border-bottom-width: 1px;}
.borderwidthsize2px {border-bottom-width: 2px;}
.borderwidthsize1px {border-bottom-width: 1px;}
.borderwidthsize3px {border-bottom-width: 3px;}
/*-----------------------------font_border-------------------------------------------*/
.backgroundcolor1 {background-color: #333333;}
.backgroundcolor2 {background-color: #005266;}
.backgroundcolor3 {background-color: #5900b3;}
.backgroundcolor4 {background-color: #602060;}
.backgroundcolor5 {background-color: #737373;}
.backgroundcolor6 {background-color: #e6e6e6;}
.backgroundcolor7 {background-color:  #804000;}
.backgroundcolor8 {background-color: #cc5200;}
/*-----------------------------Box_shadow-------------------------------------------*/
.shadow1 {box-shadow: 0px 0px 3px 5px #003d4d;}
.shadow2 {box-shadow: 0px 0px 3px 5px #003d4d;}
.shadow3 {box-shadow: 0px 0px 3px 5px #003d4d;}
.shadow4 {box-shadow: 0px 0px 3px 5px #003d4d;}
.shadow5 {box-shadow: 0px 0px 3px 5px #003d4d;}
.shadow6 {box-shadow: 0px 0px 3px 5px #003d4sd;}
.shadow7 {box-shadow: 0px 0px 3px 5px #003d4d;}
.shadow8 {box-shadow: 0px 0px 3px 5px #003d4d;}
/*-----------------------------width-------------------------------------------*/
.widthsize10per {width: 10%}
.widthsize15per {width: 15%}
.widthsize20per {width: 20%}



.position {
  position:fixed;
}

.navbar-inverse {
    background-color: #005266;
    border-color: #333333;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #999999;
    background-color: #333333;
    border-color: #333333;
}
.maincontent1 {
  margin-top: 5%;
  margin-bottom: 5%;
}
.maincontent2 {
  margin-top: 15%;
  margin-bottom: 5%;
}
#hiddenfield{
display: none;
}
label[for="hiddenfield"]
{
    display:none;
}
body {
font-family: "Cambria";
font-size: 14px;
line-height: 1.42857143;
color: #999999;
background-color: #005266;}

html,
body {
overflow-x: hidden; /* Prevent scroll on narrow devices */
height: 100%;
}
.filtercontainer {
  padding-top: 70px;
}
footer {
padding: 30px 0;
}
@media screen and (min-width: 768px) {
.row-offcanvas {
  position: relative;
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
          transition: all .25s ease-out;
}
.row-offcanvas-right {
  right: 25%;
}
.row-offcanvas-left {
  left: 25%;
}
.row-offcanvas-right .sidebar-offcanvas {
  right: -75%; /* 3 columns */
  background-color: #333333;
}
.row-offcanvas-left .sidebar-offcanvas {
  left: -25%; /* 3 columns */
  background-color: #333333;
}
.row-offcanvas-right.active {
  right: 0; /* 3 columns */
}
.row-offcanvas-left.active {
  left: 0; /* 3 columns */
}
.row-offcanvas-right.active .sidebar-offcanvas {
  background-color: #333333;
}
.row-offcanvas-left.active .sidebar-offcanvas {
  background-color: #333333;
}
.row-offcanvas .content {
   /* width: 75%;  9 columns */
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
          transition: all .25s ease-out;

}
.row-offcanvas.active .content {
  width: 100%; /* 12 columns */
}
.sidebar-offcanvas {
  position: absolute;
  top: 0;
  width: 25%; /* 3 columns */
}
}
@media screen and (max-width: 767px) {
.row-offcanvas {
  position: relative;
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
          transition: all .25s ease-out;
}

.row-offcanvas-right {
  right: 0;
}

.row-offcanvas-left {
  left: 0;
}

.row-offcanvas-right
.sidebar-offcanvas {
  right: -50%; /* 6 columns */
}

.row-offcanvas-left
.sidebar-offcanvas {
  left: -50%; /* 6 columns */
}

.row-offcanvas-right.active {
  right: 50%; /* 6 columns */
}

.row-offcanvas-left.active {
  left: 50%; /* 6 columns */
}

.sidebar-offcanvas {
  position: absolute;
  top: 0;
  width: 50%; /* 6 columns */
}
}

.ui-datepicker {
background: #fff; /* Old browsers */
background: #fff -moz-linear-gradient(top, #fcfcfc 0%, #fff 100%); /* FF3.6+ */
background: #fff -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc)), color-stop(100%,#fff)); /* Chrome,Safari4+ */
background: #fff -webkit-linear-gradient(top, #fcfcfc 0%, #fff 100%); /* Chrome10+,Safari5.1+ */
background: #fff -o-linear-gradient(top, #fcfcfc 0%, #fff 100%); /* Opera11.10+ */
background: #fff -ms-linear-gradient(top, #fcfcfc 0%, #fff 100%); /* IE10+ */
background: #fff linear-gradient(top, #fcfcfc 0%, #fff 100%); /* W3C */
font-size:11px;
padding:10px;
border:1px solid #ccc;
}

.ui-datepicker table {
width:278px;
}

.ui-datepicker table td {
text-align:center;
}

.ui-datepicker a {
cursor:pointer;
text-decoration:none;
}

.ui-datepicker-prev {
}

.ui-datepicker-next {
float:right;
}

.ui-datepicker-title {
text-align: center;
font-weight:bold;
}



  /*------------------------table------------------------------------------------*/

  #table1 {
      font-family: "Cambria";
      width: 100%;
      font-size: 11px;
  }
  #table1 tr:nth-child(odd){background-color: #EAEDED;font-size: 11px;}
  #table1 tr:nth-child(even){background-color: #E5E8E8; font-size: 11px;}
  #table1 th {
      padding-top: 5px;
      padding-bottom: 5px;
      text-align: left;
      background-color: #cc9966;
      color: white;
      font-size: 11px;

  }
  #hiddenid{
  display: none;
  }


  #table2 {
      font-family: "Cambria";
      width: 100%;
      font-size: 11px;
  }
  #table2 tr:nth-child(odd){background-color: #EAEDED;font-size: 11px;}
  #table2 tr:nth-child(even){background-color: #E5E8E8; font-size: 11px;}
  #table2 th {
      padding-top: 5px;
      padding-bottom: 5px;
      text-align: left;
      background-color: #cc9966;
      color: white;
      font-size: 11px;
  }

  #table2 {
      font-family: "Cambria";
      width: 100%;
      font-size: 11px;
  }
  #table2 tr:nth-child(odd){background-color: #EAEDED;font-size: 11px;}
  #table2 tr:nth-child(even){background-color: #E5E8E8; font-size: 11px;}
  #table2 th {
      padding-top: 5px;
      padding-bottom: 5px;
      text-align: left;
      background-color: #cc9966;
      color: white;
      font-size: 11px;
  }



.tbody {
    height: 27em;
    overflow: auto;
    width:100%;
}
td {
    width:1%;
    }

.thead > tr, .tbody{
    display:block;}


  .tbody1 {
      height: 19em;
      overflow: auto;
      width:100%;
  }


  .thead1 > tr, .tbody1{
      display:block;}
