{% extends "basetemplate.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load staticfiles %}
{% block navblockright %}
<div class="col-sm-12 col-md-12 col-lg-12"><h1><a href="{% url 'signinother' %}" >Back </a></h1></div>
{% endblock %}


{% block content %}
<form method="post">
  {% csrf_token %}
<div class="col-sm-12 col-md-12 col-lg-6">
<h3 class="col-sm-12 col-md-12 col-lg-12">Forgot password</h3>
</div>

<div class="col-sm-12 col-md-12 col-lg-12">
<label class="col-sm-12 col-md-12 col-lg-1  ">{% bootstrap_label 'Email'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-3 ">{% bootstrap_field form.email  show_label=False  placeholder='Enter Email' %}</span>
<div class="col-sm-12 col-md-12 col-lg-3 ">{% buttons submit='Submit' %}{% endbuttons layout='inline' %}</div>

</div>

{% endblock %}
