{% extends "basetemplate.html" %}
{% load staticfiles %}
{% block style %}

{% endblock %}

{% block navblockleft %}
<h4 class="fontstyle1"><span class ="glyphicon glyphicon-user"></span> {{username}} </h4>
{% endblock %}

{% block navblockright %}
{% include "userprofiletest1.html" %}
{% endblock %}

{% block navblockfilterform %}
{% endblock %}

{% block content %}
<div class="col-sm-12 col-md-12 col-lg-12">
  <table  class="table " id="example" style="width:100%">
    <thead class="">
    <tr class="fontstyle4 fontsize18 fontfamilycambria widthsize25per backgroundcolor1" >
      <td >Username </td>
      <td >Employee ID</td>
      <td >First Name</td>
      <td >Last Name</td>
      <td >Email ID</td>
      <td >Team Name</td>
      <td >Designation</td>
      <td >Address</td>
      <td >Phone No.</td>
      <td >DOJ</td>
      <td >DOB</td>
      <td >Registered Date</td>
      <td >Last Login</td>
      <td >Super User</td>
      <td >Staff</td>
      <td >Active</td>
      <td >Edit</td>
      </tr>
    </thead>
    <tbody class="">
  {%for data, data1 in data %}
    <tr class="fontstyle1 fontsize15 fontfamilycambria widthsize25per backgroundcolor2">
      <td >{{data.username }} </td>
      <td >{{data1.employeeid}}</td>
      <td>{{data.first_name }}</td>
      <td >{{data.last_name }}</td>
      <td>{{data.email }}</td>
      <td >{{data1.teamdetail }} </td>
      <td>{{data1.designationmaster}}</td>
      <td>{{data1.address   }}</td>
      <td>{{data1.phonenumber }}</td>
      <td>{{data1.dateofjoining }}</td>
      <td>{{data1.dateofbirth }}</td>
      <td>{{data.date_joined  }}</td>
      <td>{{data.last_login  }}</td>
      <td>{{data.is_superuser }}</td>
      <td>{{data.is_staff }}</td>
      <td>{{data.is_active }}</td>
      <td><a href="{% url 'editstaffbymanager' data.id %}" class="glyphicon glyphicon-pencil" ></a></td>

      {% endfor %}
      </tr></br>

  </tbody>
  </table>
</div>


{% endblock %}

{% block javascript %}
{% endblock %}

{% block footer %}
{% include "userprofilefootertest1.html" %}
{% endblock %}
{% block footer_right %}
{% endblock %}
