{% extends "basetemplate.html" %}
{% load staticfiles %}
{% block style %}
{% endblock %}

{% block navblockleft %}
<h4 class="fontstyle1"><span class ="glyphicon glyphicon-user"></span> {{username}} </h4>
{% endblock %}

{% block navblockright %}
{% include "userprofiletest1.html" %}
{% endblock %}

{% block navblockfilterform %}
{% endblock %}

{% block content %}

<div class="col-sm-12 col-md-12 col-lg-12">

  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="col-sm-12 col-md-12 col-lg-12 box">
      <div class="col-sm-12 col-md-12 col-lg-12">
      <lable>Public Holiday</lable>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 box3">
    {%for data in model1 %}
      <div class="col-sm-12 col-md-12 col-lg-3 ">
        <div class="fontstyle4 ">{{data.holidays_name }} : <span class="fontstyle1"> {{data.date }} </span></div>
      </div>
      {% endfor %}
    </div>
</div>
    <table  class="table" id="example" style="width:100%">
      <thead class="">
      <tr class="fontstyle4 fontsize18 fontfamilycambria  backgroundcolor1 " >
        <td >ID
          {% if can_edit.0 == True %}
          <a href="{% url 'leaverecordform' %}" class="glyphicon glyphicon-plus fontstyle12"></a>
          {% else %}
          {% endif %}
        </td>
        <td >Date Time</td>
        <td >Leave Date</td>
        <td >Leave Taken By</td>
        <td >Leave Type</td>
        </tr>
      </thead>
      <tbody class="">
    {%for data in model %}
        <td><a class="fontstyle1 fontsize15 fontfamilycambria  backgroundcolor2" href="{% url 'leaverecordeditform' data.leaverecordid %}">{{data.leaverecordid}} </a></td>
        <td>{{data.date_time }}</td>
        <td>{{data.leave_date }}</td>
        <td>{{data.userid }}</td>
        <td>{{data.leave_type }}</td>
      </tr></br>

      {% endfor %}
    </tbody>
    </table>
  </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
{% endblock %}

{% block footer %}
{% include "userprofilefootertest1.html" %}
{% endblock %}
