{% extends "base_model_template.html" %}
{% load staticfiles %}
{% block style %}
<style>
/* Ensure that the demo table scrolls */
    th, td { white-space: nowrap; }
    div.dataTables_wrapper {
        margin: 0 auto;
    }

    div.container {

        width: 100%;

    }

</style>
{% endblock %}

{% block navblockleft %}
<h4 class="fontstyle1"><span class ="glyphicon glyphicon-user"></span> {{username}} </h4>
{% endblock %}

{% block navblockright %}
{% include "userprofiletest1.html" %}
{% endblock %}

{% block navblockfilterform %}
{% endblock %}

{% block content %}
<div class="col-sm-12 col-md-12 col-lg-12">
  <table  class="table " id="example1" style="width:100%">
    <thead class="thead tableheaderformat">
    <tr class="" >

      <td >ID
        {% if can_add.0 == True %}
         <a href="{% url 'addinternaltaskoption' taskid  %}" class="glyphicon glyphicon-plus fontstyle12"></td>
        {% else %}
        {% endif %}
      <td> Internal Task </td>
      <td >Choice</td>
      {% if can_edit.0 == True %}
      <td >Edit </td>
      {% else %}
      {% endif %}
      </tr>
    </thead>
    <tbody class="tbody">
  {%for data in model %}
    <tr class="tablebodyformat">
      <td >{{data.internaltaskchoiceid }} </td>
      <td >{{data.internaltaskid }}</td>
      <td >{{data.internaltaskchoice }}</td>
      {% if can_edit.0 == True %}
      <td> <a href="{% url 'editinternaltaskoption' data.internaltaskchoiceid %}" class="glyphicon glyphicon-pencil"></a></td>
      {% else %}
      {% endif %}
      {% endfor %}
      </tr></br>

  </tbody>
  </table>
</div>
<div class="col-sm-12 col-md-12 col-lg-7">
  <div class="col-sm-12 col-md-12 col-lg-3 "><a href="{% url 'internaltaskdetail'  %}" id="submit" name="submit" class="btn btn-success">Done</a></div>
<div class="col-sm-12 col-md-12 col-lg-3 "><a href="{% url 'internaltaskdetail'  %}" id="cancel" name="cancel" class="btn btn-danger">Cancel</a></div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'js/myscript.js' %}" charset="UTF-8"></script>
{% endblock %}

{% block footer %}
{% include "userprofilefootertest1.html" %}
{% endblock %}
{% block footer_right %}
{% endblock %}
