{% extends "basetemplate.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load staticfiles %}
{% block style %}
<style>
thead > tr {
  color: #cc8800;
  font-size: 13px;
  font-family: Cambria;
  background-color: #333333;
}

tbody > tr {
  font-size: 12px;
  font-family: Cambria;
}

.cell-border{
border-width: thin;

}

</style>
<script src="{% static 'jquery/jquery-ui.js' %}"></script>
<script src="{% static 'jquery/myjquery.js' %}"></script>
{% endblock %}

{% block navblockleft %}
<h4 class="fontstyle1"><span class ="glyphicon glyphicon-user"></span> {{username}} </h4>
{% endblock %}

{% block navblockright %}
{% include "userprofiletest1.html" %}
{% endblock %}

{% block navblockfilterform %}
{% endblock %}

{% block content %}

<form method="post" id="extractdata" data-mimember-url="{% url 'ajax_load_mimember' %}" novalidate>
{% csrf_token %}
{% if group_name == "manager" %}
  <div class="col-auto col-sm-12 col-md-12 col-lg-12 box">
    <div class="col-auto col-sm-2 col-md-2 col-lg-2">
      <label class="">Data Choice</label>
      <span  class="">{% bootstrap_field form.datachoice  show_label=False layout='inline'  %}</span>
    </div>
    <div class="">
      <label class="hidden">interval</label>
      <span  class="hidden">{% bootstrap_field form.interval  show_label=False layout='inline'  %}</span>
    </div>
      <div class="col-auto col-sm-2 col-md-2 col-lg-2">
      <label class="">Start Date</label>
      <span  class="">{% bootstrap_field form.startdate  show_label=False layout='inline'  %}</span>
    </div>
    <div class="col-auto col-sm-2 col-md-2 col-lg-2">
      <label class="">End Date </label>
      <span  class="">{% bootstrap_field form.enddate  show_label=False layout='inline'  %}</span>
    </div>
    <div class="col-auto col-sm-3 col-md-3 col-lg-3">
      <label class="">Team</label>
      <span  class="">{% bootstrap_field form.team  show_label=False layout='inline'  %}</span>
    </div>
    <div class="col-auto col-sm-2 col-md-2 col-lg-2">
      <label class="">Member</label>
      <span  class="">{% bootstrap_field form.member  show_label=False layout='inline'  %}</span>
    </div>
    <div class="col-auto col-sm-1 col-md-1 col-lg-1">
      <label class="fontstyle10"> save </label>
      <div class="">{% buttons submit='Submit' %}{% endbuttons layout='inline' %}</div>
      </div>
    </div>
</div>
  {% elif group_name == "team_leader" %}
    <div class="col-auto col-sm-12 col-md-12 col-lg-12 box">
      <div class="col-auto col-sm-2 col-md-2 col-lg-2">
        <label class="">Data Choice</label>
        <span  class="">{% bootstrap_field form.datachoice  show_label=False layout='inline'  %}</span>
      </div>
      <div class="">
        <label class="hidden">interval</label>
        <span  class="hidden">{% bootstrap_field form.interval  show_label=False layout='inline'  %}</span>
      </div>
        <div class="col-auto col-sm-2 col-md-2 col-lg-2">
        <label class="">Start Date</label>
        <span  class="">{% bootstrap_field form.startdate  show_label=False layout='inline'  %}</span>
      </div>
      <div class="col-auto col-sm-2 col-md-2 col-lg-2">
        <label class="">End Date </label>
        <span  class="">{% bootstrap_field form.enddate  show_label=False layout='inline'  %}</span>
      </div>
      <div class="col-auto col-sm-3 col-md-3 col-lg-3">
        <label class="">Team</label>
        <span  class="">{% bootstrap_field form.team  show_label=False layout='inline'  %}</span>
      </div>

      <div class="col-auto col-sm-2 col-md-2 col-lg-2">
        <label class="">Member</label>
        <span  class="">{% bootstrap_field form.member  show_label=False layout='inline'  %}</span>
      </div>
      <div class="col-auto col-sm-1 col-md-1 col-lg-1">
        <label class="fontstyle10"> save </label>
        <div class="">{% buttons submit='Submit' %}{% endbuttons layout='inline' %}</div>
        </div>
      </div>
     </div>

    {% else %}
    <div class="col-auto col-sm-12 col-md-12 col-lg-12 box">
      <div class="col-auto col-sm-2 col-md-2 col-lg-2">
        <label class="">Data Choice</label>
        <span  class="">{% bootstrap_field form.datachoice  show_label=False layout='inline'  %}</span>
      </div>
      <div class="">
        <label class="hidden">interval</label>
        <span  class="hidden">{% bootstrap_field form.interval  show_label=False layout='inline'  %}</span>
      </div>
        <div class="col-auto col-sm-2 col-md-2 col-lg-2">
        <label class="">Start Date</label>
        <span  class="">{% bootstrap_field form.startdate  show_label=False layout='inline'  %}</span>
      </div>
      <div class="col-auto col-sm-2 col-md-2 col-lg-2">
        <label class="">End Date </label>
        <span  class="">{% bootstrap_field form.enddate  show_label=False layout='inline'  %}</span>
      </div>
      <div class="col-auto col-sm-3 col-md-3 col-lg-3">
        <label class="hidden">Team</label>
        <span  class="hidden">{% bootstrap_field form.team  show_label=False layout='inline'  %}</span>
      </div>

      <div class="col-auto col-sm-2 col-md-2 col-lg-2">
        <label class="hidden">Member</label>
        <span  class="hidden">{% bootstrap_field form.member  show_label=False layout='inline'  %}</span>
      </div>
      <div class="col-auto col-sm-1 col-md-1 col-lg-1">
        <label class="fontstyle10"> save </label>
        <div class="">{% buttons submit='Submit' %}{% endbuttons layout='inline' %}</div>
        </div>
      </div>
     </div>
       {% endif %}
       </form>

     <script>

     $("#id_team").change(function () {
         var team_id = $(this).val();  // get the selected country ID from the HTML input
        console.log(team_id)
        $.ajax({
          url: "{% url 'ajax_load_mimember' %}",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
          data: {
            'team_id': team_id     // add the country id to the GET parameters
          },
            success: function (data) {   // `data` is the return of the `load_cities` view function
            $("#id_member").html(data);  // replace the contents of the city input with the data that came from the server
          }
        });
      });


        $("#id_startdate").datepicker({
          dateFormat: 'yy-mm-dd',
           altField: '#thealtdate',
           altFormat: 'yy-mm-dd'});


        $("#id_enddate").datepicker({
          dateFormat: 'yy-mm-dd',
           altField: '#thealtdate',
           altFormat: 'yy-mm-dd'});


</script>
{% endblock %}

{% block footer %}
{% include "userprofilefootertest1.html" %}
{% endblock %}
