{% extends "basetemplate.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load staticfiles %}

{% block style %}
<script src="{% static 'jquery/jquery-ui.js' %}"></script>
<script src="{% static 'jquery/myjquery.js' %}"></script>
{% endblock %}

{% block navblockleft %}
<h4 class="fontstyle1"><span class ="glyphicon glyphicon-user"></span> {{username}} </h4>
{% endblock %}

{% block navblockright %}
{% include "userprofiletest1.html" %}
{% endblock %}

{% block navblockfilterform %}
{% endblock %}

{% block content %}

<form method="post" id="extractdata" data-mimember-url="{% url 'ajax_load_mimember' %}" novalidate>
{% csrf_token %}
{% if group_name == "manager" %}
  <div class="col-auto col-sm-12 col-md-12 col-lg-12 box">
    <div class="col-auto col-sm-2 col-md-2 col-lg-2">
      <label class="">Data Choice</label>
      <span  class="">{% bootstrap_field form.datachoice  show_label=False layout='inline'  %}</span>
    </div>
    <div class="">
      <label class="hidden">interval</label>
      <span  class="hidden">{% bootstrap_field form.interval  show_label=False layout='inline'  %}</span>
    </div>
      <div class="col-auto col-sm-2 col-md-2 col-lg-2">
      <label class="">Start Date</label>
      <span  class="">{% bootstrap_field form.startdate  show_label=False layout='inline'  %}</span>
    </div>
    <div class="col-auto col-sm-2 col-md-2 col-lg-2">
      <label class="">End Date </label>
      <span  class="">{% bootstrap_field form.enddate  show_label=False layout='inline'  %}</span>
    </div>
    <div class="col-auto col-sm-3 col-md-3 col-lg-3">
      <label class="">Team</label>
      <span  class="">{% bootstrap_field form.team  show_label=False layout='inline'  %}</span>
    </div>
    <div class="col-auto col-sm-2 col-md-2 col-lg-2">
      <label class="">Member</label>
      <span  class="">{% bootstrap_field form.member  show_label=False layout='inline'  %}</span>
    </div>
    <div class="col-auto col-sm-1 col-md-1 col-lg-1">
      <label class="fontstyle10"> save </label>
      <div class="">{% buttons submit='Submit' %}{% endbuttons layout='inline' %}</div>
      </div>
    </div>
</div>
  {% elif group_name == "team_leader" %}
    <div class="col-auto col-sm-12 col-md-12 col-lg-12 box">
      <div class="col-auto col-sm-2 col-md-2 col-lg-2">
        <label class="">Data Choice</label>
        <span  class="">{% bootstrap_field form.datachoice  show_label=False layout='inline'  %}</span>
      </div>
      <div class="">
        <label class="hidden">interval</label>
        <span  class="hidden">{% bootstrap_field form.interval  show_label=False layout='inline'  %}</span>
      </div>
        <div class="col-auto col-sm-2 col-md-2 col-lg-2">
        <label class="">Start Date</label>
        <span  class="">{% bootstrap_field form.startdate  show_label=False layout='inline'  %}</span>
      </div>
      <div class="col-auto col-sm-2 col-md-2 col-lg-2">
        <label class="">End Date </label>
        <span  class="">{% bootstrap_field form.enddate  show_label=False layout='inline'  %}</span>
      </div>
      <div class="col-auto col-sm-2 col-md-2 col-lg-2">
        <label class="">Member</label>
        <span  class="">{% bootstrap_field form.member  show_label=False layout='inline'  %}</span>
      </div>
      <div class="col-auto col-sm-1 col-md-1 col-lg-1">
        <label class="fontstyle10"> save </label>
        <div class="">{% buttons submit='Submit' %}{% endbuttons layout='inline' %}</div>
        </div>
      </div>
     </div>

    {% else %}
       <div class="col-auto col-sm-12 col-md-12 col-lg-12 box">
         <div class="col-auto col-sm-3 col-md-3 col-lg-3">
           <label class="">Data Choice</label>
           <span  class="">{% bootstrap_field form.datachoice  show_label=False layout='inline'  %}</span>
         </div>
         <div class="">
           <label class="hidden">interval</label>
           <span  class="hidden">{% bootstrap_field form.interval  show_label=False layout='inline'  %}</span>
         </div>

         <div class="col-auto col-sm-3 col-md-3 col-lg-3">
           <label class="">Start Date</label>
           <span  class="">{% bootstrap_field form.startdate  show_label=False layout='inline'  %}</span>
         </div>
         <div class="col-auto col-sm-3 col-md-3 col-lg-3">
           <label class="">End Date </label>
           <span  class="">{% bootstrap_field form.enddate  show_label=False layout='inline'  %}</span>
         </div>
         <div class="col-auto col-sm-3 col-md-3 col-lg-3">
           <label class="fontstyle10"> save </label>
           <div class="">{% buttons submit='Submit' %}{% endbuttons layout='inline' %}</div>
           </div>
         </div>
         {% endif %}
       </form>

<div class="col-sm-6 col-md-4 col-lg-12">
  <table  class="table" id="example" style="width:100%">
    <thead class="">
    <tr class="fontstyle4 fontsize15 fontfamilycambria widthsize25per backgroundcolor1">

    {% if reportno == "1" %}
    {% elif reportno == "2" %}
      <td >ID</td>
      <td >RequestRaised Date</td>
      <td >Request Type</td>
      <td >Priority Detail</td>
      <td >Request Description</td>
      {% elif reportno == "3" %}
      <td>ID</td>
      <td>Registered Date</td>
      <td>Tracking Date </td>
      <td>Activity</td>
      <td>Mimember</td>
      <td>Team Name</td>
      <td>Category </td>
      <td>Sub-Category </td>
      <td>Task</td>
      <td>Request Detail</td>
      <td>Description</td>
      <td>Time</td>
      <td>Comments</td>
      <td>Start Datetime</td>
      <td>Stop Datetime </td>
      {% elif reportno == "4" %}
      <td>ID</td>
      <td>ErrorLog Date</td>
      <td>Error Occurace Date</td>
      <td>Error Report </td>
      <td>Error Reportedby </td>
      <td>Error Reportedteam </td>
      <td>Error Owner </td>
      <td>Error Type </td>
      <td>Error Description </td>

      {% elif reportno == "5" %}
      <td>OT ID </td>
      <td>Time-Trackers ID</td>
      <td>OT Start Datetime </td>
      <td>OT End Datetime </td>
      <td>OT hrs </td>
      <td>OT Status </td>
      {% endif %}
    </tr>
    </thead>
    <tbody class="">
  {%for data in model %}
  <tr class="fontstyle1 fontsize12 fontfamilycambria widthsize25per backgroundcolor2">

  {% if reportno == "1" %}
      {% elif reportno == "2" %}
      <td>{{data.requestid}}</td>
      <td>{{data.requestraiseddate }}</td>
      <td>{{data.requesttypedetail }}</td>
      <td>{{data.prioritydetail }}</td>
      <td>{{data.requestdescription }}</td>
      {% elif reportno == "3" %}
      <td>{{data.timetrackerid }}</td>
      <td>{{data.registerdatetime }}</td>
      <td>{{data.trackingdatetime }}</td>
      <td>{{data.reports }}</td>
      <td>{{data.mimember }}</td>
      <td>{{data.teamdetail }}</td>
      <td>{{data.requestcategorys }}</td>
      <td>{{data.requestsubcategory }}</td>
      <td>{{data.task }}</td>
      <td>{{data.requestdetail }}</td>
      <td>{{data.description_text }}</td>
      <td>{{data.totaltime }}</td>
      <td>{{data.comments }}</td>
      <td>{{data.startdatetime }}</td>
      <td>{{data.stopdatetime }}</td>

      {% elif reportno == "4" %}
      <td>{{data.error_id }}</td>
      <td>{{data.errorlog_date }}</td>
      <td>{{data.error_occurancedate }}</td>
      <td>{{data.error_report }}</td>
      <td>{{data.error_reportedby }}</td>
      <td>{{data.error_reportedteam }}</td>
      <td>{{data.error_reportedto }}</td>
      <td>{{data.error_type }}</td>
      <td>{{data.error_description }}</td>
      {% elif reportno == "5" %}
      <td>{{data.ot_id }}</td>
      <td>{{data.timetrackers }}</td>
      <td>{{data.ot_startdatetime }}</td>
      <td>{{data.ot_enddatetime }}</td>
      <td>{{data.ot_hrs }}</td>
      <td>{{data.ot_status }}</td>

      {% endif %}

      {% endfor %}

    </tr></br>
  </tbody>
  </table>
</div>

<script>


$("#id_team").change(function () {
    var member_id = $(this).val();  // get the selected country ID from the HTML input
   console.log(member_id)
   $.ajax({
     url: "{% url 'ajax_load_mimember' %}",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
     data: {
       'mimemberid': member_id     // add the country id to the GET parameters
     },
       success: function (data) {   // `data` is the return of the `load_cities` view function
       $("#id_member").html(data);  // replace the contents of the city input with the data that came from the server
     }
   });
 });

 $("#id_startdate").datepicker({
   dateFormat: 'yy-mm-dd',
    altField: '#thealtdate',
    altFormat: 'yy-mm-dd'});


 $("#id_enddate").datepicker({
   dateFormat: 'yy-mm-dd',
    altField: '#thealtdate',
    altFormat: 'yy-mm-dd'});


  </script>


{% endblock %}

{% block javascript %}
{% endblock %}


{% block footer %}
{% include "userprofilefootertest1.html" %}
{% endblock %}
