{% extends "basetemplate.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load staticfiles %}
{% block style %}
{% endblock %}

{% block navblockleft %}
<h4 class="fontstyle1"><span class ="glyphicon glyphicon-user"></span> {{username}} </h4>
{% endblock %}

{% block navblockright %}
{% include "userprofiletest1.html" %}
{% endblock %}

{% block navblockfilterform %}
{% endblock %}

{% block content %}

<a href="{% url 'export_users_csv' %}">Export to CSV</a>
{% autoescape off %}
{{ data | safe }}
{% endautoescape %}

 <script>
  $(document).ready(function() {
      $('.dataframe').DataTable(
      {
        destroy: true,
        fixedHeader: true,
        scrollY: '100vh',
        scrollCollapse: true,
        scrollX: true,
        fixedColumns: true,
        "lengthMenu": [[50, 100, 150, -1], [50, 100, 150, "All"]]

      });
  } );
  </script>
  <link rel="stylesheet" href="{% static 'datatable/dataTables.bootstrap.min.css' %}" rel="stylesheet">
  <script type="text/javascript" src="{% static 'datatable/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'datatable/dataTables.bootstrap.min.js' %}"  charset="UTF-8"></script>
{% endblock %}

{% block footer %}
{% include "userprofilefootertest1.html" %}
{% endblock %}
