<!DOCTYPE html>
{% extends "basetemplate.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load staticfiles %}
<!-- _________________________________________________________________________ -->
{% block style %}
{{% endblock %}
<!-- _________________________________________________________________________ -->
{% block navblockright %}
{% include "userprofiletest1.html" %}
{% endblock %}
<!-- _________________________________________________________________________ -->
{% block navblockleft %}
{% endblock %}
<!-- _________________________________________________________________________ -->
{% block content %}

  <form id="signupform"class="form" method="POST" action="" class='form-inline ' data-signup-url="{% url 'ajax_load_signup' %}"novalidate>
  {% csrf_token %}
  {% bootstrap_form_errors form type='non_fields' %}

  <div class="col-sm-12 col-md-12 col-lg-12">

<div class="col-sm-12 col-md-12 col-lg-12">
  <div class="col-sm-12 col-md-12 col-lg-12 fontstyle1 fontsize25">
    <div class="col-sm-12 col-md-12 col-lg-12 fontstyle4"><i> {{msg}}</i></div>

  <h3 >CREATE LOGIN CREDENTIAL</h3>
  </div>
</div>

  <div class="col-sm-12 col-md-12 col-lg-12">
  <label class="col-sm-12 col-md-12 col-lg-2">{% bootstrap_label 'Username'  %}</label>
  <span class="col-sm-12 col-md-12 col-lg-4 ">{% bootstrap_field form.username  show_label=False  placeholder='Username' %}</span>
  <div class="col-sm-12 col-md-12 col-lg-6" id="usercheck"></i></div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12">
  <label class="col-sm-12 col-md-12 col-lg-2 ">{% bootstrap_label 'Employee ID'  %}</label>
  <span class="col-sm-12 col-md-12 col-lg-4">{% bootstrap_field form.employeeid  show_label=False placeholder='Employee ID'   %}</span>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12">
  <label class="col-sm-12 col-md-12 col-lg-2 ">{% bootstrap_label 'First Name'  %}</label>
  <span class="col-sm-12 col-md-12 col-lg-4">{% bootstrap_field form.firstname  show_label=False placeholder='Enter First Name'   %}</span>
  </div>
  <div>
  <div class="col-sm-12 col-md-12 col-lg-12">
  <label class="col-sm-12 col-md-12 col-lg-2 ">{% bootstrap_label 'Last Name'  %}</label>
  <span class="col-sm-12 col-md-12 col-lg-4">{% bootstrap_field form.lastname  show_label=False placeholder='Enter Last Name'   %}</span>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12">
  <label class="col-sm-12 col-md-12 col-lg-2 ">{% bootstrap_label 'Designation'  %}</label>
  <span class="col-sm-12 col-md-12 col-lg-4">{% bootstrap_field form.designation  show_label=False placeholder='Enter Designation'   %}</span>
  </div>
  <div  class="col-sm-12 col-md-12 col-lg-12">
  <label class="col-sm-12 col-md-12 col-lg-2 " >{% bootstrap_label 'Team'  %}</label>
  <span class="col-sm-12 col-md-12 col-lg-4">{% bootstrap_field form.Team  show_label=False placeholder='Enter Designation'   %}</span>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-12">
  <label class="col-sm-12 col-md-12 col-lg-2 ">{% bootstrap_label 'Phone Number'  %}</label>
  <span class="col-sm-12 col-md-12 col-lg-4">{% bootstrap_field form.phone_number  show_label=False placeholder='Enter Ph.No.'   %}</span>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-12">
  <label class="col-sm-12 col-md-12 col-lg-2 ">{% bootstrap_label 'Email ID'  %}</label>
  <span class="col-sm-12 col-md-12 col-lg-4">{% bootstrap_field form.email  show_label=False placeholder='Enter Email ID'   %}</span>
  <div class="col-sm-12 col-md-12 col-lg-6" id="emailcheck" ></i></div>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-12">
  <label class="col-sm-12 col-md-12 col-lg-2 ">{% bootstrap_label 'Password'  %}</label>
  <span class="col-sm-12 col-md-12 col-lg-4">{% bootstrap_field form.password  show_label=False placeholder='Enter Password'   %}</span>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12">
  <label class="col-sm-12 col-md-12 col-lg-2 ">{% bootstrap_label 'Password (Again)'  %}</label>
  <span class="col-sm-12 col-md-12 col-lg-4">{% bootstrap_field form.passwordagain  show_label=False placeholder='Enter Password (Again)'   %}</span>
  <div class="col-sm-12 col-md-12 col-lg-6" id="passwordcheck" ></i></div>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="col-sm-12 col-md-12 col-lg-12 ">{% buttons %}<button type="submit" class="btn btn-success"> Submit</button>{% endbuttons %}</div>

  </div>
  </form>
  <script type="text/javascript" src="{% static 'js/myscript.js' %}" charset="UTF-8"></script>

{% endblock %}
<!-- _________________________________________________________________________ -->

{% block footer %}
{% include "userprofilefootertest1.html" %}
{% endblock %}
