{% extends "basetemplate.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load staticfiles %}
{% block style %}
{% endblock %}

{% block navblockleft %}
<h4 class="fontstyle1"><span class ="glyphicon glyphicon-user"></span> {{username}} </h4>
{% endblock %}

{% block navblockright %}
{% include "userprofiletest1.html" %}
{% endblock %}

{% block navblockfilterform %}
<div class="col-sm-12 col-md-12 col-lg-12 box3">

</div>
{% endblock %}

{% block content %}
{% if group_name == "manager" or group_name == "team_leader" or group_name == "technical_leader" or group_name == "mi_team" %}
<div id=pagecontent data-view-url="{% url 'ajax_load_view' %}" >
<div class="col-sm-12 col-md-12 col-lg-12 ">
<form method="post" id="extractdata"  name="form" novalidate>
{% csrf_token %}
    <div class="col-sm-12 col-md-12 col-lg-4">
      <label class="">Team</label>
      <span   class="">{% bootstrap_field form.teamfilter  show_label=False layout='inline'  %}</span>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
      <label class="">Team Member</label>
      <span   class="">{% bootstrap_field form.memberfilter  show_label=False layout='inline'  %}</span>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
      <label class="fontstyle11"> save </label>
      <div class="" >{% buttons submit='Submit'  %}{% endbuttons layout='inline' %}</div>
      </div>
  </form>
</div>
<div class="col-sm-12 col-md-12 col-lg-12 box3">
<div class="col-sm-12 col-md-12 col-lg-9 ">
  <div class="col-sm-4 col-md-6 col-lg-3">
    <div><label class="">------------- A -------------</label></div>
    <div><label class="">Last 10 Days WH</label></div>
    {% for key, value in dv.items %}
    <li class="fontstyle1 fontsize15">{{key}} <span class="fontstyle4 fontsize15">{{value}}</li>
    {% endfor %}
  </div>
  <div class="col-sm-4 col-md-4 col-lg-3">
    <div><label class="">------------- B -------------</label></div>
    <div><label class="">Last 10 Days OT</label></div>
    {% for key, value in dvOT.items %}
    <li class="fontstyle1 fontsize15">{{key}} <span class="fontstyle4 fontsize15">{{value}}<span></li>
    {% endfor %}
  </div>
  <div class="col-sm-4 col-md-4 col-lg-3">
    <div><label class="">------------- C -------------</label></div>
    <div><label class="">Last 10 Days Core</label></div>
    {% for key, value in dvcore.items %}
    <li class="fontstyle1 fontsize15">{{key}} <span class="fontstyle4 fontsize15">{{value}}</li>
    {% endfor %}
  </div>
  <div class="col-sm-4 col-md-4 col-lg-3">
    <div><label class="">----- D = C / (A + B) ----</label></div>
    <div><label class="">Last 10 Days Util.</label></div>
    {% for key, value in dvutilisation.items %}
    <li class="fontstyle1 fontsize15">{{key}} <span class="fontstyle4 fontsize15">{{value}}</li>
    {% endfor %}
  </div>
  <div class="col-sm-4 col-md-4 col-lg-3">
    <label class="">Last 5 Weeks WH</label>
    {% for key, value in wv.items %}
    <li class="fontstyle1 fontsize15">{{key}} <span class="fontstyle4 fontsize15">{{value}}</li>
    {% endfor %}
  </div>
  <div class="col-sm-4 col-md-4 col-lg-3">
    <label class="">Last 5 Weeks OT </label>
    {% for key, value in wvOT.items %}
    <li class="fontstyle1 fontsize15">{{key}} <span class="fontstyle4 fontsize15">{{value}}</li>
    {% endfor %}
  </div>
  <div class="col-sm-4 col-md-4 col-lg-3">
    <label class="">Last 5 Weeks Core</label>
    {% for key, value in wvcore.items %}
    <li class="fontstyle1 fontsize15">{{key}} <span class="fontstyle4 fontsize15">{{value}}</li>
    {% endfor %}
  </div>
  <div class="  col-sm-4 col-md-4 col-lg-3">
    <label class="">Last 5 Weeks Util. </label>
    {% for key, value in wvutilisation.items %}
    <li class="fontstyle1 fontsize15">{{key}} <span class="fontstyle4 fontsize15">{{value}}</li>
    {% endfor %}
  </div>
  <div class="  col-sm-4 col-md-4 col-lg-3">
    <label class="">Last 6 Months WH</label>
    {% for key, value in mv.items %}
    <li class="fontstyle1 fontsize15">{{key}} <span class="fontstyle4 fontsize15">{{value}}</li>
    {% endfor %}
  </div>
  <div class="  col-sm-4 col-md-4 col-lg-3">
    <label class="">Last 6 Months OT </label>
    {% for key, value in mvOT.items %}
    <li class="fontstyle1 fontsize15">{{key}} <span class="fontstyle4 fontsize15">{{value}}</li>
    {% endfor %}
  </div>

  <div class="  col-sm-4 col-md-4 col-lg-3">
    <label class="">Last 6 Months Core </label>
    {% for key, value in mv.items %}
    <li class="fontstyle1 fontsize15">{{key}} <span class="fontstyle4 fontsize15">{{value}}</li>
    {% endfor %}
  </div>

  <div class="  col-sm-4 col-md-4 col-lg-3">
    <label class="">Last 6 Months Util.</label>
    {% for key, value in mvcore.items %}
    <li class="fontstyle1 fontsize15">{{key}} <span class="fontstyle4 fontsize15">{{value}}</li>
    {% endfor %}
  </div>
</div>
<div class="col-sm-12 col-md-12 col-lg-3 box1">
  <div class="  col-sm-4 col-md-4 col-lg-12">
  <div><label class="">----- Error -----</label></div>
  <div><label class="">Last 10 Days</label></div>
  {% for key, value in dv_error.items %}
  <li class="fontstyle1 fontsize15">{{key}} <span class="fontstyle4 fontsize15">{{value}}</li>
  {% endfor %}
</div>
<div class="  col-sm-4 col-md-4 col-lg-12">
  <label class="">Last 5 Weeks</label>
  {% for key, value in wv_error.items %}
  <li class="fontstyle1 fontsize15">{{key}} <span class="fontstyle4 fontsize15">{{value}}</li>
  {% endfor %}
</div>
<div class="  col-sm-4 col-md-4 col-lg-12">
  <label class="">Last 6 Months</label>
  {% for key, value in mv_error.items %}
  <li class="fontstyle1 fontsize15">{{key}} <span class="fontstyle4 fontsize15">{{value}}</li>
  {% endfor %}
</div>
</div>
</div>
<div class="  col-sm-12 col-md-12 col-lg-12 ">
</div>
<div class="col-sm-12 col-md-12 col-lg-12">
  <table  id="example" class="table" style="width:100%">
    <thead class="">
    <tr class="fontstyle4 fontsize15 fontfamilycambria widthsize25per backgroundcolor1" >
      <td >Team Detail </td>
      <td >Request Type</td>
      <td >Total</td>
      <td >WIP</td>
      <td >UAT</td>
      <td >Completed</td>
      <td >Project</td>
        </tr>
    </thead>
    <tbody class="">
  {%for data in model_team_metrics %}
    <tr class="">
    <td> <a href="{% url 'editmetrics' data.metrics_id %}" class="glyphicon glyphicon-pencil fontstyle12"></a> {{data.teamdetail}}</td>
    <td>{{data.requesttype }}</td>
    <td>{{data.total }}</td>
    <td>{{data.wip }}</td>
    <td>{{data.uat }}</td>
    <td>{{data.completed }}</td>
    <td>{{data.project }}</td>
  {% endfor %}
    </tr></br>
  </tbody>
  </table>

</div>


<div class="col-sm-6 col-md-6 col-lg-6 fontsize15 middle">
  <div class="  col-sm-12 col-md-12 col-lg-12 box fontstyle4">
    <div class=" col-sm-12 col-md-12 col-lg-5 ">Date Time <a href="{% url 'updateadd' %}" class="glyphicon glyphicon-plus"></a></div>
    <div class=" col-sm-12 col-md-12 col-lg-7 ">Updates</div>
</div>
    {%for data in model1 %}
    <div class="  col-sm-12 col-md-12 col-lg-12">
      <div class="  col-sm-12 col-md-12 col-lg-5"><a href="{% url 'updateedit' data.updateid %}" class="glyphicon glyphicon-pencil fontstyle12 "></a>{{data.date_time }}</div>
      <div class="  col-sm-12 col-md-12 col-lg-7">{{data.updateinbrief }}</div>
    </div>
    {% endfor %}

  </div>

  <div class="col-sm-6 col-md-6 col-lg-6 fontsize15 middle">
    <div class="  col-sm-12 col-md-12 col-lg-12 box fontstyle4">
      <div class=" col-sm-12 col-md-12 col-lg-4 ">Issue <a href="{% url 'issueactionadd' %}" class="glyphicon glyphicon-plus"></a></div>
      <div class=" col-sm-12 col-md-12 col-lg-4 ">Action</div>
      <div class=" col-sm-12 col-md-12 col-lg-4 ">TargeDate</div>
  </div>
      {%for data in model2 %}
      <div class="  col-sm-12 col-md-12 col-lg-12">
        <div class="  col-sm-12 col-md-12 col-lg-4"><a href="{% url 'issueactionedit' data.issue_action_id %}" class="glyphicon glyphicon-pencil fontstyle12"></a> {{data.issue}}</div>
        <div class="  col-sm-12 col-md-12 col-lg-4">{{data.action_taken }}</div>
        <div class="  col-sm-12 col-md-12 col-lg-4">{{data.targetdate }}</div>
      </div>
      {% endfor %}

    </div>

</div>
</div>


{% elif group_name == "authoriser" %}
<div class="index_container">
<div><img class="image1" src="{{ MEDIA_URL}}/misc/landing.jpg" height='' width='100%'alt="Avatar" /></div>
<div class="text-block">
<div class="col-xm-6 col-sm-6 col-md-6 col-lg-2">
  <div class=" col-sm-12 col-md-12 col-lg-12  box3">
    <label class="">Total Authorised </label>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12  card">
    <label class="">Authorised</label>
    {{context.total_authorised_count}}
</div>
<div class="col-sm-12 col-md-12 col-lg-12  card">
  <label class="">Unauthorised</label>
  {{context.total_unauthorised_count}}
</div>
<div class="col-sm-12 col-md-12 col-lg-12  card">
    <label class="">Completed</label>
    {{context.total_competed_counts}}
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12  card">
    <label class="">Rejected</label>
    {{context.total_rejected_counts}}
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12  card">
    <label class="">Pending</label>
    {{context.total_pending_counts}}
  </div>
</div>


<div class="col-xm-6 col-sm-6 col-md-6 col-lg-2 ">
  <div class="col-sm-12 col-md-12 col-lg-12  box3">
    <label class="">I Authorised </label>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-12  card">
    <label class="">Authorised </label>
    {{context.your_authorised_count}}

  </div>
  <div class="col-sm-12 col-md-12 col-lg-12  card">
    <label class="">Completed</label>
    {{context.your_completed_count}}

  </div>
  <div class="col-sm-12 col-md-12 col-lg-12  card">
    <label class="">Rejected</label>
    {{context.your_rejected_count}}

  </div>
  <div class="col-sm-12 col-md-12 col-lg-12  card">
    <label class="">Pending </label>
    {{context.your_pending_counts}}

  </div>
</div>


{% else %}
<div class="index_container">
<div><img class="image1" src="{{ MEDIA_URL}}/misc/landing.jpg" height='' width='100%'alt="Avatar" /></div>
<div class="text-block">
<div class="col-xm-6 col-sm-6 col-md-6 col-lg-2">
  <div class=" col-sm-12 col-md-12 col-lg-12  box3">
    <label class="">Total Request </label>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12  card">
    <label class="">Request</label>
    {{context.total_request_count}}
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12  card">
    <label class="">Authorised</label>
    {{context.total_authorised_count}}
</div>
<div class="col-sm-12 col-md-12 col-lg-12  card">
  <label class="">Unauthorised</label>
  {{context.total_unauthorised_count}}
</div>
<div class="col-sm-12 col-md-12 col-lg-12  card">
    <label class="">Completed</label>
    {{context.total_competed_counts}}
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12  card">
    <label class="">Rejected</label>
    {{context.total_rejected_counts}}
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12  card">
    <label class="">Pending</label>
    {{context.total_pending_counts}}
  </div>
</div>

<div class="col-xm-6 col-sm-6 col-md-6 col-lg-2 ">
  <div class="col-sm-12 col-md-12 col-lg-12  box3">
    <label class="">My Request </label>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-12  card">
    <label class="">Request </label>
    {{context.your_request_count}}

  </div>
  <div class="col-sm-12 col-md-12 col-lg-12  card">
    <label class="">Completed</label>
    {{context.your_completed_count}}

  </div>
  <div class="col-sm-12 col-md-12 col-lg-12  card">
    <label class="">Rejected</label>
    {{context.your_rejected_count}}

  </div>
  <div class="col-sm-12 col-md-12 col-lg-12  card">
    <label class="">Pending </label>
    {{context.your_pending_counts}}

  </div>
</div>

</div>
</div>
{% endif %}
<script type="text/javascript">

$("#id_teamfilter").change(function () {
    var team_id = $(this).val();  // get the selected country ID from the HTML input
   console.log(team_id)
   $.ajax({
     url: "{% url 'ajax_load_mimember' %}",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
     data: {
       'team_id': team_id     // add the country id to the GET parameters
     },
       success: function (data) {   // `data` is the return of the `load_cities` view function
       $("#id_memberfilter").html(data);  // replace the contents of the city input with the data that came from the server
     }
   });
 });



 $(".btn-default").click(function () {
      var url = $("#extractdata").attr("data-mimember-url");
      var team_id = document.getElementById("id_teamfilter").value;
      console.log(team_id)
      $.ajax({
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'team_id': team_id,
        },
          success: function (data) {
          $("#id_memberfilter").html(data);
            // replace the contents of the city input with the data that came from the server
        }
      });

  });


</script>

{% endblock %}

{% block footer %}
{% include "userprofilefootertest1.html" %}
{% endblock %}
