{% extends "basetemplate.html" %}
{% load staticfiles %}
{% block style %}
{% endblock %}

{% block navblockleft %}
<h4 class="fontstyle1"><span class ="glyphicon glyphicon-user"></span> {{username}} </h4>
{% endblock %}

{% block navblockright %}
{% include "userprofiletest1.html" %}
{% endblock %}

{% block navblockfilterform %}
{% endblock %}

{% block content %}
{%for data in model %}
<div class="col-sm-2 col-md-2 col-lg-2">
  <div><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ data.Image}} </span></div>
  <div><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ data.data}} </span></div>
  <div><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ data.description}} </span></div>

</div>
{% endfor %}

{% endblock %}

{% block footer %}
{% include "userprofilefootertest1.html" %}
{% endblock %}
