{% extends "basetemplate.html" %}
{% load staticfiles %}
{% block style %}
{% endblock %}

{% block navblockleft %}
<h4 class="fontstyle1"><span class ="glyphicon glyphicon-user"></span> {{username}} </h4>
{% endblock %}

{% block navblockright %}
{% include "userprofiletest1.html" %}
{% endblock %}

{% block navblockfilterform %}
{% endblock %}

{% block content %}
{% if group_name == "manager" or group_name == "team_leader" or group_name == "technical_leader" or group_name == "mi_team" %}
<div class="col-sm-6 col-md-6 col-lg-6">
<div class="header"><a href="{% url 'whatwedoadd' %}" class="glyphicon glyphicon-plus"></a><h> Skill we have</h></div>
{% else %}
{% endif %}
{%for data in model %}
<div class="col-sm-4 col-md-4 col-lg-4">
  <div class="content"> {{ data.data}} </div>

</div>
{% endfor %}

</div>
<div class="col-sm-6 col-md-6 col-lg-6">
<div class="header"><a href="{% url 'whatwedoadd' %}" class="glyphicon glyphicon-plus"></a><h> Geography we Cover</h></div>

{%for data1 in model1 %}
<div class="col-sm-4 col-md-4 col-lg-4">
  <div class="fontstyle1 fontsize15 fontfamilycambria widthsize25per content"> {{ data1.data}} </div>
</div>
{% endfor %}

</div>

{% endblock %}

{% block footer %}
{% include "userprofilefootertest1.html" %}
{% endblock %}
