{% extends "basetemplate.html" %}
{% load staticfiles %}
{% block style %}
{% endblock %}

{% block navblockleft %}
<h4 class="fontstyle1"><span class ="glyphicon glyphicon-user"></span> {{username}} </h4>
{% endblock %}

{% block navblockright %}
{% include "userprofiletest1.html" %}
{% endblock %}

{% block navblockfilterform %}
{% endblock %}

{% block content %}
{%for data in model %}

<div class="process">
  <img src="{{ MEDIA_URL}}/{{data.processimg}}" height='450px' width='100%' alt="Avatar" />
  <div class="text-block">
  <h4>{{data.teamdetail}}</h4>
  <p>{{data.description}}</p>
  </div>
</div>
{% endfor %}
{% endblock %}

{% block footer %}
{% include "userprofilefootertest1.html" %}
{% endblock %}
