{% extends "basetemplate.html" %}
{% load staticfiles %}
{% block style %}
{% endblock %}

{% block navblockleft %}
<h4 class="fontstyle1"><span class ="glyphicon glyphicon-user"></span> {{username}} </h4>
{% endblock %}

{% block navblockright %}
{% include "userprofiletest1.html" %}
{% endblock %}

{% block navblockfilterform %}
{% endblock %}

{% block content %}
{%for data in model %}

<div class="col-sm-6 col-md-6 col-lg-6">
  <div>{{data.teamdetail}}</div>
  <div><img src="{{ MEDIA_URL}}/{{data.processimg}}" height='50%' width='100%' alt="Avatar" /></div>
</div>
<div class="col-sm-6 col-md-6 col-lg-6">
<div>{{data.description}}</div>
</div>
{% endfor %}
{% endblock %}

{% block footer %}
{% include "userprofilefootertest1.html" %}
{% endblock %}
