{% extends "base_model_template.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load staticfiles %}
{% block style %}
{% endblock %}

{% block navblockleft %}
<h4 class="fontstyle1"><span class ="glyphicon glyphicon-user"></span> {{username}} </h4>
{% endblock %}

{% block navblockright %}
{% include "userprofiletest1.html" %}
{% endblock %}


{% block content %}

<form class="form" method="POST" action="" class='form-inline ' enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_form_errors form type='non_fields' %}

<div class="col-sm-12 col-md-12 col-lg-12">
<div >
<h3 class="col-sm-12 col-md-12 col-lg-12 head">What we Do</h3>
</div>
</div>
<div class="col-sm-12 col-md-12 col-lg-12">
<div >
<label class="col-sm-12 col-md-12 col-lg-4  ">{% bootstrap_label 'Data'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 ">{% bootstrap_field form.data  show_label=False layout='inline'  %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4 ">{% bootstrap_label 'Description'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8">{% bootstrap_field form.description  show_label=False   %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4 ">{% bootstrap_label 'Type'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 " >{% bootstrap_field form.type   show_label=False   %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4 ">{% bootstrap_label 'Image'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 ">{% bootstrap_field form.image  show_label=False    %}</span>
</div>
</div>
<div class="col-sm-12 col-md-12 col-lg-7">
<div class="col-sm-12 col-md-12 col-lg-3 ">{% buttons submit='Submit' %}{% endbuttons layout='inline' %}</div>
<div class="col-sm-12 col-md-12 col-lg-3 "><a href="{% url 'whatwedo' %}" id="cancel" name="cancel" class="btn btn-default">Cancel</a></div>
</div>

</form>
{% endblock %}
