{% extends "basetemplate.html" %}
{% load staticfiles %}
{% block style %}
<style>
.content {
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2);
  border-top: rgb(0,0,0);
  background-color: #800080;
  height: 300px;
  font-style: italic;
  border-radius: 10%;
  text-align: center;
  vertical-align: middle;
  line-height:  300px;

}
.mySlides {display:none;}
</style>


{% endblock %}

{% block navblockleft %}
<h4 class="fontstyle1"><span class ="glyphicon glyphicon-user"></span> {{username}} </h4>
{% endblock %}

{% block navblockright %}
{% include "userprofiletest1.html" %}
{% endblock %}

{% block navblockfilterform %}
{% endblock %}

{% block content %}
<div class="col-sm-12 col-md-12 col-lg-12 "><a href="{% url 'successstoriesadd' %}" id="successtories" name="Add" class="btn btn-default">Add Stories</a></div>
<div class="col-sm-12 col-md-12 col-lg-12">
{%for data in model %}
  <div class="fontstyle1 fontsize15 fontfamilycambria widthsize25per content mySlides"> {{ data.stories}} </div>
{% endfor %}
</div>

<script>
var slideIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > x.length) {slideIndex = 1}
    x[slideIndex-1].style.display = "block";
    setTimeout(carousel, 2000);
}
</script>







{% endblock %}

{% block footer %}
{% include "userprofilefootertest1.html" %}
{% endblock %}
