{% extends "basetemplate.html" %}
{% load staticfiles %}
{% block style %}
{% endblock %}

{% block navblockleft %}
<h4 class="fontstyle1"><span class ="glyphicon glyphicon-user"></span> {{username}} </h4>
{% endblock %}

{% block navblockright %}
{% include "userprofiletest1.html" %}
{% endblock %}

{% block navblockfilterform %}
{% endblock %}

{% block content %}
{% if group_name == "manager" or group_name == "team_leader" or group_name == "technical_leader" %}
<div class="col-sm-12 col-md-12 col-lg-12 "><a href="{% url 'commsuggadd' %}" id="comments_suggestion" name="Add" class="btn btn-default">Add Comments/suggestion</a></div>
{% else %}
{% endif %}

{% for data in model %}
<div class="col-sm-4 col-md-4 col-lg-4 ">
<div class="">
    <!-- Avatar -->
    <div class="card fontstyle4 fontsize18">
        <!-- Name -->
        {{ data.suggestiondatetime}} |  | {{ data.suggestedby}}
    </div>
        <!-- Quotation -->
    <div class="card1 ">
      <div class="fontstyle4 fontsize18"> {{ data.subject}} </div>
      <div class="fontstyle1 fontsize15"> {{ data.suggestion}}</div>
    </div>
</div>
<!-- Card -->
</div>

{% endfor %}
{% endblock %}

{% block footer %}
{% include "userprofilefootertest1.html" %}
{% endblock %}
