{% extends "basetemplate.html" %}
{% load staticfiles %}
{% block style %}
{% endblock %}

{% block navblockleft %}
<h4 class="fontstyle1"><span class ="glyphicon glyphicon-user"></span> {{username}} </h4>
{% endblock %}

{% block navblockright %}
{% include "userprofiletest1.html" %}
{% endblock %}

{% block content %}
<div class="col-sm-12 col-md-12 col-lg-12">
  <table  class="table" id="example" style="width:100%">
    <thead class="">
      <tr class="fontstyle4 fontsize18 fontfamilycambria widthsize25per backgroundcolor1 " >

    {% if activetab1 == "allrequest" %}
      <td >ID</td>
      <td >Request Date</td>
      <td >Request Type</td>
      <td >Priority</td>
      <td >Request Owner</td>
      <td >Request Description</td>
      {% elif activetab1 == "unapproved" %}
      <td >ID</td>
      <td >Request Date</td>
      <td >Request Type</td>
      <td >Priority</td>
      <td >Request Owner</td>
      <td >Request Description</td>
      <td >Details</td>

      {% elif activetab1 == "approved" %}
      <td >Request ID</td>
      <td >Request Date</td>
      <td >Request Type</td>
      <td >Priority</td>
      <td >Request Description</td>
      <td >Authorised Date</td>
      <td >Authorised By</td>
      <td >Details</td>

      {% elif activetab1 == "assigned" %}
      <td >ID</td>
      <td >Request Raised Date</td>
      <td >Request Type</td>
      <td >Priority</td>
      <td >Request Description</td>
      <td >Assigned Date</td>
      <td >Assigned By</td>
      <td >Assigned To</td>
      <td >Details</td>

      {% elif activetab1 == "overview" %}
      <td >Request ID</td>
      <td >Request Raised Date</td>
      <td >Request Type</td>
      <td >Priority</td>
      <td >Request Description</td>
      <td >Overview Date</td>
      <td >Provided By</td>
      <td >Given To</td>
      <td >Details</td>

      {% elif activetab1 == "estimate" %}
      <td >Request ID</td>
      <td >Request Raised Date</td>
      <td >Request Type</td>
      <td >Priority</td>
      <td >Request Owner</td>
      <td >Request Description</td>
      <td >Estimation Date</td>
      <td >Estimation By</td>
      <td >Estimated Hrs</td>
      <td >Details</td>

      {% elif activetab1 == "wip" %}
      <td >Request ID</td>
      <td >Request Raised Date</td>
      <td >Request Type</td>
      <td >Priority</td>
      <td >Request Owner</td>
      <td >Request Description</td>
      <td >Details</td>

      {% elif activetab1 == "uat" %}
      <td >Request ID</td>
      <td >Request Raised Date</td>
      <td >Request Type</td>
      <td >Priority</td>
      <td >Request Owner</td>
      <td >Request Description</td>
      <td >Tested By</td>
      <td >Status</td>
      <td >Details</td>
      {% elif activetab1 == "completed" %}
      <td >Request ID</td>
      <td >Request Raised Date</td>
      <td >Request Type</td>
      <td >Priority</td>
      <td >Request Owner</td>
      <td >Request Description</td>
      <td >Tested By</td>
      <td >Status</td>
      <td >Details</td>

      {% elif activetab1 == "rejected" %}
      <td >Request ID</td>
      <td >Request Raised Date</td>
      <td >Request Type</td>
      <td >Priority</td>
      <td >Request Owner</td>
      <td >Request Description</td>
      <td >Details</td>

      {% endif %}
    </tr>

    </thead>
    <tbody class="">
  {%for data in model %}
  <tr class="fontstyle1 fontsize15 fontfamilycambria widthsize25per backgroundcolor2 ">

  {% if activetab1 == "allrequest" %}
      <td ><a class="fontstyle12 fontsize15 fontfamilycambria widthsize25per backgroundcolor2" href="{% url 'ty' data.requestid %}">{{data.requestid }} </a> </td>
      <td>{{data.requestraiseddate }}</td>
      <td>{{data.requesttypeid }}</td>
      <td>{{data.priorityid }}</td>
      <td>{{data.userid }}</td>
      <td>{{data.requestdescription }}</td>
      {% elif activetab1 == "unapproved" %}
      {% if group_name == 'authoriser' %}
      <td ><a class="fontstyle12 fontsize15 fontfamilycambria widthsize25per backgroundcolor2" href="{% url 'authform' data.requestid %}">{{data.requestid }} </a> </td>
      {% else %}
      <td ><a>{{data.requestid }} </a> </td>
      {% endif %}
      <td>{{data.requestraiseddate }}</td>
      <td>{{data.requesttypeid }}</td>
      <td>{{data.priorityid }}</td>
      <td>{{data.userid }}</td>
      <td>{{data.requestdescription }}</td>
      <td ><a href="{% url 'ty' data.requestid %}" class="glyphicon glyphicon-eye-open fontstyle12"></a></td>

      {% elif activetab1 == "approved" %}
      <td><a class="fontstyle12 fontsize15 fontfamilycambria widthsize25per backgroundcolor2" href="{% url 'assignedform' data.requestid.requestid %}">{{data.requestid.requestid }} </a> </td>
      <td>{{data.requestid.requestraiseddate }}</td>
      <td>{{data.requestid.requesttypeid }}</td>
      <td>{{data.requestid.priorityid }}</td>
      <td>{{data.requestid.requestdescription }}</td>
      <td>{{data.authoriseddate }}</td>
      <td>{{data.authoriserid.username }}</td>
      <td ><a href="{% url 'ty' data.requestid.requestid %}" class="glyphicon glyphicon-eye-open fontstyle12"></a></td>

      {% elif activetab1 == "assigned" %}
      <td ><a class="fontstyle12 fontsize15 fontfamilycambria widthsize25per backgroundcolor2" href="{% url 'overviewform' data.requestid.requestid %}">{{data.requestid.requestid }} </a> </td>
      <td>{{data.requestid.requestraiseddate }}</td>
      <td>{{data.requestid.requesttypeid }}</td>
      <td>{{data.requestid.priorityid }}</td>
      <td>{{data.requestid.requestdescription }}</td>
      <td>{{data.assigneddate }}</td>
      <td>{{data.assignedbyid }}</td>
      <td>{{data.assignedtoid }}</td>
      <td ><a href="{% url 'ty' data.requestid.requestid %}" class="glyphicon glyphicon-eye-open fontstyle12"></a></td>

      {% elif activetab1 == "overview" %}
      <td ><a class="fontstyle12 fontsize15 fontfamilycambria widthsize25per backgroundcolor2" href="{% url 'estimationform' data.requestid.requestid %}">{{data.requestid.requestid }} </a> </td>
      <td>{{data.requestid.requestraiseddate }}</td>
      <td>{{data.requestid.requesttypeid }}</td>
      <td>{{data.requestid.priorityid }}</td>
      <td>{{data.requestid.requestdescription }}</td>
      <td>{{data.overviewdate }}</td>
      <td>{{data.providedbyid }}</td>
      <td>{{data.giventoid }}</td>
      <td ><a href="{% url 'ty' data.requestid.requestid %}" class="glyphicon glyphicon-eye-open fontstyle12"></a></td>

    {% elif activetab1 == "estimate" %}
      <td ><a class="fontstyle12 fontsize15 fontfamilycambria widthsize25per backgroundcolor2 " href="{% url 'estimationformar' data.requestid.requestid %}">{{data.requestid.requestid }} </a> </td>
      <td>{{data.requestid.requestraiseddate }}</td>
      <td>{{data.requestid.requesttypeid }}</td>
      <td>{{data.requestid.priorityid }}</td>
      <td>{{data.requestid.userid }}</td>
      <td>{{data.requestid.requestdescription }}</td>
      <td>{{data.estimationdate }}</td>
      <td>{{data.estimatedbyid }}</td>
      <td>{{data.estimateddays }}</td>
      <td ><a href="{% url 'ty' data.requestid.requestid %}" class="glyphicon glyphicon-eye-open fontstyle12"></a></td>


      {% elif activetab1 == "wip" %}
      <td ><a class="fontstyle12 fontsize15 fontfamilycambria widthsize25per backgroundcolor2" href="{% url 'wipform' data.requestid.requestid %}">{{data.requestid.requestid }} </a> </td>
      <td>{{data.requestid.requestraiseddate }}</td>
      <td>{{data.requestid.requesttypeid }}</td>
      <td>{{data.requestid.priorityid }}</td>
      <td>{{data.requestid.userid }}</td>
      <td>{{data.requestid.requestdescription }}</td>
      <td ><a href="{% url 'ty' data.requestid.requestid %}" class="glyphicon glyphicon-eye-open fontstyle12"></a></td>
      {% elif activetab1 == "uat" %}
      <td ><a class="fontstyle12 fontsize15 fontfamilycambria widthsize25per backgroundcolor2" href="{% url 'uatform' data.requestid.requestid %}">{{data.requestid.requestid }} </a> </td>
      <td>{{data.requestid.requestraiseddate }}</td>
      <td>{{data.requestid.requesttypeid }}</td>
      <td>{{data.requestid.priorityid }}</td>
      <td>{{data.requestid.username }}</td>
      <td>{{data.requestid.requestdescription }}</td>
      <td>{{data.testedby }}</td>
      <td>{{data.uat_status }}</td>
      <td ><a href="{% url 'ty' data.requestid.requestid %}" class="glyphicon glyphicon-eye-open fontstyle12"></a></td>

      {% elif activetab1 == "completed" %}
      <td ><a class="fontstyle12 fontsize15 fontfamilycambria widthsize25per backgroundcolor2" href="{% url 'ty' data.requestid.requestid %}">{{data.requestid.requestid }} </a> </td>
      <td>{{data.requestid.requestraiseddate }}</td>
      <td>{{data.requestid.requesttypeid }}</td>
      <td>{{data.requestid.priorityid }}</td>
      <td>{{data.requestid.username }}</td>
      <td>{{data.requestid.requestdescription }}</td>
      <td>{{data.testedby }}</td>
      <td>{{data.uat_status }}</td>

      <td ><a href="{% url 'ty' data.requestid.requestid %}" class="glyphicon glyphicon-eye-open fontstyle12"></a></td>

      {% elif activetab1 == "rejected" %}
      <td ><a class="fontstyle12 fontsize15 fontfamilycambria widthsize25per backgroundcolor2" href="{% url 'ty' data.requestid.requestid %}">{{data.requestid.requestid }} </a> </td>
      <td>{{data.requestid.requestraiseddate }}</td>
      <td>{{data.requestid.requesttypeid }}</td>
      <td>{{data.requestid.priorityid }}</td>
      <td>{{data.requestid.username }}</td>
      <td>{{data.requestid.requestdescription }}</td>
      <td ><a href="{% url 'ty' data.requestid.requestid %}" class="glyphicon glyphicon-eye-open fontstyle12"></a></td>

      {% endif %}

      {% endfor %}
    </tr></br>
  </tbody>
  </table>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}

{% block footer %}
{% include "userprofilefootertest1.html" %}
{% endblock %}
