{% extends "basetemplate.html" %}
{% load staticfiles %}
{% block style %}
{% endblock %}

{% block navblockleft %}
<h4 class="fontstyle1"><span class ="glyphicon glyphicon-user"></span> {{username}} </h4>
{% endblock %}

{% block navblockright %}
{% include "userprofiletest1.html" %}
{% endblock %}

{% block navblockfilterform %}
{% endblock %}

{% block content %}
  <div class="col-sm-6 col-md-4 col-lg-12">
    <span class="fontstyle1 fontsize30 fontfamilycambria widthsize30per"> Check Status</span><span class="fontstyle4 fontsize15 fontfamilycambria widthsize30per"> Click on ID to view detail</span>
    <table  class="table " id="example" style="width:100%">
      <thead class="">
      <tr class="fontstyle4 fontsize18 fontfamilycambria widthsize25per backgroundcolor1 " >
        <td >Request ID</td>
        <td >Request Raised Date</td>
        <td >Request Type</td>
        <td >Priority Detail</td>
        <td >Request Description</td>
        </tr>
      </thead>
      <tbody class="">
    {%for data in model %}
      <tr class="">
        <td ><a class="fontstyle12 fontsize15 fontfamilycambria widthsize25per backgroundcolor2" href="{% url 'ty' data.requestid %}">{{data.requestid }} </a> </td>
        <td>{{data.requestraiseddate }}</td>
        <td>{{data.requesttypeid }}</td>
        <td>{{data.priorityid }}</td>
        <td>{{data.requestdescription }}</td>
        {% endfor %}
      </tr></br>
    </tbody>
    </table>
  </div>
{% endblock %}

{% block javascript %}
<script>

</script>

{% endblock %}

{% block footer %}
{% include "userprofilefootertest1.html" %}
{% endblock %}
