{% extends "basetemplate.html" %}
{% load staticfiles %}
{% block style %}
{% endblock %}
{% block navblockleft %}
<h4 class="fontstyle1"><span class ="glyphicon glyphicon-user"></span> {{username}} </h4>
{% endblock %}

{% block navblockright %}
{% include "userprofiletest1.html" %}
{% endblock %}



{% block content %}
<div class="col-sm-12 col-md-12 col-lg-12 box1">
<h class="fontstyle1 fontsize20 fontfamilycambria widthsize30per"> Thankyou for the Request</h>
</div>
<div class="col-sm-12 col-md-12 col-lg-12 box">
<div class="col-sm-12 col-md-6 col-lg-4">
<h class="fontstyle1 fontsize20 fontfamilycambria widthsize25per"> Request Details (1)</h>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Request ID : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail1.requestid }} </span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Request Raised Date : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail1.requestraiseddate  }}</span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Request Priority : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail1.priorityid}} </span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Request Type : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail1.requesttypeid }} </span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Request Owner : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail1.userid }}</span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Request Description : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail1.requestdescription }}</span></div>
{% if detail1.requestdocument == None or detail1.requestdocument == ""  %}
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> BRD : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> Not Available</span></div>
{% else %}
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> BRD : </label><span> <a href="{{ MEDIA_URL }}/{{ detail1.requestdocument}}"><span class="glyphicon glyphicon-cloud-download fontstyle12"></span></a></div>
{% endif %}
<h class="fontstyle1 fontsize20 fontfamilycambria widthsize25per"> Authorise Details (2)</h>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Authorised Date : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{detail2.authoriseddate }}</span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Authorised By : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail2.authoriserid }}</span></div>
<h class="fontstyle1 fontsize20 fontfamilycambria widthsize25per"> Assigning Details (3)</h>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Assigning Date: </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail4.assigneddate}}</span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Assigned By :  </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail4.assignedbyid}}</span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Assigned To :  </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail4.assignedtoid}}</span></div>
</div>
<div class="col-sm-12 col-md-6 col-lg-4">
<h class="fontstyle1 fontsize20 fontfamilycambria widthsize25per"> Overview Details (4)</h>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Overview Date: </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail5.overviewdate}}</span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Provided By : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail5.providedbyid}}</span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Given To : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail5.giventoid}}</span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> SOP Created : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail5.sopcreatedid}} </p></span></div>
{% if detail5.document == None or detail5.document == ""  %}
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Download SOP: </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> Not Available</span></div>
{% else %}
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Download SOP: </label><span> <a href="{{ MEDIA_URL }}/{{ detail5.document}}"><span class="glyphicon glyphicon-cloud-download fontstyle12"></span></a></div>
{% endif %}

<h class="fontstyle1 fontsize20 fontfamilycambria widthsize25per"> Estimation Details (5)</h>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Estimation Date : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail6.estimationdate}}</span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Estimation By : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail6.estimatedby}} </span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Estimation Hours : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail6.estimateddays}} </span></div>
<h class="fontstyle1 fontsize20 fontfamilycambria widthsize25per"> Estimation Acceptance Details (6)</h>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Est. Accept/Reject Date : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail7.estacceptrejectdate}}</span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Est. Accept/Reject By : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail7.estacceptrejectby}} </span></div>
</div>
<div class="col-sm-12 col-md-6 col-lg-4">
<h class="fontstyle1 fontsize20 fontfamilycambria widthsize25per"> Completed Details (7)</h>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Sign-off Date : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail8.date_time}}</span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> UAT Result : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail8.uat_status}} </span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Tested By : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail8.testedby.username}} </span></div>

<h class="fontstyle1 fontsize20 fontfamilycambria widthsize25per"> Date Details </h>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Request Rasied Date: </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail1.requestraiseddate}}</span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Authorised Date    : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail2.authoriseddate}} </span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Assigned Date      : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail4.assigneddate}} </span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Overview Date      : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail5.overviewdate}} </span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Estimation Date    : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail6.estimationdate}} </span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Accept/Reject Date : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail7.estacceptrejectdate}} </span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Completed Date     : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ detail8.date_time}} </span></div>
</div>
</div>
<div class="col-sm-12 col-md-12 col-lg-12">
<div  class="fontstyle12 fontsize15 fontfamilycambria widthsize25per">Add Conversation <a href="{% url 'conversationform' detail1.requestid  %}" class="glyphicon glyphicon-plus fontstyle12"></a></div>
</div>
<div class="col-sm-2 col-md-2 col-lg-2 box1">Date Time</div>
<div class="col-sm-2 col-md-2 col-lg-2 box1">Comments By</div>
<div class="col-sm-8 col-md-8 col-lg-8 box1">Comments</div>

{% for data in  model9 %}
<div class="col-sm-12 col-md-12 col-lg-12 box">

<div class="fontstyle4 fontsize12 fontfamilycambria col-sm-2 col-md-2 col-lg-2 box">{{data.date_time}} </div>
<div class="col-sm-2 col-md-2 col-lg-2 box">{{data.userid}} </div>
<div class="col-sm-8 col-md-8 col-lg-8 box">{{data.comments}}</div>
</div>

{% endfor %}



{% endblock %}

{% block footer %}
{% endblock %}
