{% extends "basetemplate.html" %}
{% load staticfiles %}
{% block style %}
{% endblock %}

{% block navblockleft %}
<h4 class="fontstyle1"><span class ="glyphicon glyphicon-user"></span> {{username}} </h4>
{% endblock %}

{% block navblockright %}
{% include "userprofiletest1.html" %}
{% endblock %}

{% block navblockfilterform %}
{% endblock %}

{% block content %}
  <div class="col-sm-12 col-md-12 col-lg-12">
    <table  id="example" class="table" style="width:100%">
      <thead class="">
      <tr class="fontstyle4 fontsize18 fontfamilycambria widthsize25per backgroundcolor1" >
        {% if group_name == "manager" or group_name == "team_leader" or group_name == "technical_leader" %}
        <td >ID <a href="{% url 'addreport' %}" class="glyphicon glyphicon-plus fontstyle12"></a></td>
        {% else %}
        <td >ID </td>
        {% endif %}
        <td >Report Type</td>
        <td >Report Name</td>
        <td >Report Frequency</td>
        <td >Days Type (WD/CD)</td>
        <td >Delivery Days</td>
        <td >Delivery Times</td>
        <td >Primary Owner</td>
        <td >Secondary Owner</td>
        <td >Description</td>
        <td >Activity Status</td>
        <td >Add: Error|Feedback  </td>
        {% if group_name == "manager" or group_name == "team_leader" or group_name == "technical_leader" %}
        <td >Edit </td>
        {% else %}
        {% endif %}


        </tr>
      </thead>
      <tbody class="fontstyle1 fontsize15 fontfamilycambria widthsize25per backgroundcolor2">
    {%for data in model %}
      <tr class="">
      <td>{{data.activityid}} </td>
      <td>{{data.requestcategorys }}</td>
      <td>{{data.name }}</td>
      <td>{{data.frequency }}</td>
      <td>{{data.date_types }}</td>
      <td>{{data.delivery_days }}</td>
      <td>{{data.deliverytime }}</td>
      <td>{{data.primaryowner }}</td>
      <td>{{data.secondaryowner }}</td>
      <td>{{data.description }}</td>
        <td>{{data.activitystatus }}</td>
        <td> <a href="{% url 'errorlog' data.activityid %}" class="glyphicon glyphicon-plus fontstyle12"></a> | <a  href="{% url 'viewfeedbackquestion' data.activityid  %}" class="glyphicon glyphicon-plus fontstyle12"></a></td>
        {% if group_name == "manager" or group_name == "team_leader" or group_name == "technical_leader" %}
        <td> <a href="{% url 'editreport' data.activityid %}" class="glyphicon glyphicon-pencil fontstyle12"></a></td>
        {% else %}
        {% endif %}
        {% endfor %}
      </tr></br>
    </tbody>
    </table>
  </div>
{% endblock %}

{% block javascript %}
{% endblock %}

{% block footer %}
{% include "userprofilefootertest1.html" %}

{% endblock %}
{% block footer_right %}
{% endblock %}
