{% extends "basetemplate.html" %}
{% load staticfiles %}
{% block style %}
{% endblock %}

{% block navblockleft %}
<h4 class="fontstyle1"><span class ="glyphicon glyphicon-user"></span> {{username}} </h4>
{% endblock %}

{% block navblockright %}
{% include "userprofiletest1.html" %}
{% endblock %}

{% block navblockfilterform %}
{% endblock %}

{% block content %}
  <div class="col-sm-12 col-md-12 col-lg-12">
    <table  class="table" id="example" style="width:100%">
      <thead class="">
      <tr class="fontstyle4 fontsize18 fontfamilycambria widthsize25per backgroundcolor1 " >
        <td >Report ID</td>
        <td >Error Occurance Date</td>
        <td >Error Report</td>
        <td >Reported By</td>
        <td >Reported To</td>
        <td >Error Type</td>
        <td >Error Description</td>
        {% if can_edit.0 == True %}
        <td >Edit</td>
        {% else %}
        {% endif %}
        </tr>
      </thead>
      <tbody class="">
    {%for data in model %}
      <tr class="fontstyle1 fontsize15 fontfamilycambria widthsize25per backgroundcolor2 ">
        <td>{{data.error_id}}</td>
        <td>{{data.occurancedate }}</td>
        <td>{{data.activityid }}</td>
        <td>{{data.reportedbyid }}</td>
        <td>{{data.reportedtoid }}</td>
        <td>{{data.errortypeid }}</td>
        <td>{{data.description }}</td>
        {% if can_edit.0 == True %}
        <td> <a href="{% url 'editerrorlog' data.error_id %}" class="glyphicon glyphicon-pencil fontstyle12"></a> </td>
        {% else %}
        {% endif %}
        {% endfor %}
      </tr></br>
    </tbody>
    </table>
  </div>
{% endblock %}

{% block javascript %}
{% endblock %}

{% block footer %}
{% include "userprofilefootertest1.html" %}
{% endblock %}
