{% extends "base_model_template.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load staticfiles %}
{% block style %}
{% endblock %}

{% block content %}
<form method="post" id="trackingform" data-subcategories-url="{% url 'ajax_load_subcategories' %}"  data-activity-url="{% url 'ajax_load_activity' %}"novalidate>
{% csrf_token %}
{% bootstrap_form_errors form type='non_fields' %}

<div class="col-sm-12 col-md-12 col-lg-12">
<div >
<h3 class="col-sm-12 col-md-12 col-lg-12 head">Edit Tracker</h3>
</div>
</div>
<div class="col-sm-12 col-md-12 col-lg-12">
<div >
<label class="col-sm-12 col-md-12 col-lg-4 hidden ">{% bootstrap_label 'Registered Datetime'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 hidden">{% bootstrap_field form.registerdatetime   show_label=False layout='inline'  %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4 hidden">{% bootstrap_label 'Tracking Datetime'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 hidden">{% bootstrap_field form.trackingdatetime  show_label=False   %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4 hidden">{% bootstrap_label 'Associate'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 hidden" >{% bootstrap_field form.mimember  show_label=False   %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4 hidden">{% bootstrap_label 'TeamName'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 hidden">{% bootstrap_field form.teamdetail  show_label=False   %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4">{% bootstrap_label 'Category'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8">{% bootstrap_field form.requestcategorys  show_label=False %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4">{% bootstrap_label 'Sub-Category'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8">{% bootstrap_field form.requestsubcategory  show_label=False %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4">{% bootstrap_label 'Request Detail'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8">{% bootstrap_field form.requestdetail  show_label=False %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4">{% bootstrap_label 'Task'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 ">{% bootstrap_field form.task  show_label=False %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4">{% bootstrap_label 'Description'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 ">{% bootstrap_field form.description_text  show_label=False  %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4">{% bootstrap_label 'Activity'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 ">{% bootstrap_field form.reports  show_label=False  %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4">{% bootstrap_label 'Total-Time'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 ">{% bootstrap_field form.totaltime  show_label=False  %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4">{% bootstrap_label 'Comments'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 ">{% bootstrap_field form.comments  show_label=False %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4 hidden">{% bootstrap_label 'Start Date-time'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 hidden">{% bootstrap_field form.startdatetime  show_label=False  %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4 hidden">{% bootstrap_label 'Stop Date-time'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 hidden">{% bootstrap_field form.stopdatetime  show_label=False  %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4 hidden">{% bootstrap_label 'Stop Date-time'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 hidden">{% bootstrap_field form.ot  show_label=False  %}</span>
</div>

<div>
<label class="col-sm-12 col-md-12 col-lg-4 ">{% bootstrap_label 'Stop Date-time'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 ">{% bootstrap_field form.valid_invalid  show_label=False  %}</span>
</div>

<div class="col-sm-12 col-md-12 col-lg-7">
  <div class="col-sm-12 col-md-12 col-lg-3 ">{% buttons %}<button type="submit" class="btn btn-success"> Submit</button>{% endbuttons %}</div>
<div class="col-sm-12 col-md-12 col-lg-3 "><a href="{% url 'timetracker' %}" id="cancel" name="cancel" class="btn btn-danger">Cancel</a></div>

</div>
</form>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
$("#id_requestcategorys").change(function () {
   var url = $("#trackingform").attr("data-subcategories-url");  // get the url of the `load_cities` view
   var category_id = $(this).val();  // get the selected country ID from the HTML input
   console.log(category_id)
   $.ajax({                       // initialize an AJAX request
     url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
     data: {
       'categories': category_id     // add the country id to the GET parameters
     },
       success: function (data) {   // `data` is the return of the `load_cities` view function
       $("#id_requestsubcategory").html(data);  // replace the contents of the city input with the data that came from the server
     }
   });
 });

 $("#id_requestcategorys").change(function () {
    var url = $("#trackingform").attr("data-activity-url");  // get the url of the `load_cities` view
    var category_id = $(this).val();  // get the selected country ID from the HTML input
    console.log(category_id)
    $.ajax({                       // initialize an AJAX request
      url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      data: {
        'categories': category_id     // add the country id to the GET parameters
      },
        success: function (data) {   // `data` is the return of the `load_cities` view function
        $("#id_reports").html(data);  // replace the contents of the city input with the data that came from the server
      }
    });
  });


  $(document).ready(function() {
    $("#id_trackingdatetime").datepicker({
      dateFormat: 'yy-mm-dd',
       altField: '#thealtdate',
       altFormat: 'yy-mm-dd'});
  });

$("#submitbutton").click(function () {
    var datevalue = $("#id_trackingdatetime").val() // get the selected country ID from the HTML input
    $.ajax({
        type: "GET",
        url: "{% url 'ajax_load_datavalues' %}",  // URL to your view that serves new info
        data: {'datev': datevalue}
    })
    .done(function(response) {
        $('#table3').html(response);
        console.log(response)
    });
  });

</script>

{% endblock %}

{% block footer %}
{% endblock %}

</body>
</html>
