{% extends "base_model_template.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load staticfiles %}
{% block style %}
{% endblock %}

{% block navblockleft %}
<h4 class="fontstyle1"><span class ="glyphicon glyphicon-user"></span> {{username}} </h4>
{% endblock %}

{% block navblockright %}
{% include "userprofiletest1.html" %}
{% endblock %}


{% block content %}

<form class="form" method="POST" action="" class='form-inline ' enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_form_errors form type='non_fields' %}

<div class="col-sm-12 col-md-12 col-lg-12">
<div >
<h3 class="col-sm-12 col-md-12 col-lg-12 head">Edit OT Form</h3>
</div>
</div>
<div class="col-sm-12 col-md-12 col-lg-12">
<div >
<label class="col-sm-12 col-md-12 col-lg-4 hidden ">{% bootstrap_label 'TimeTracker ID'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 hidden">{% bootstrap_field form.timetrackers  show_label=False layout='inline'  %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4 hidden">{% bootstrap_label 'Start Date-time'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 hidden">{% bootstrap_field form.ot_startdatetime  show_label=False   %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4 hidden">{% bootstrap_label 'End Date-time'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 hidden">{% bootstrap_field form.ot_enddatetime  show_label=False  placeholder='Error Reported Team' %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4 hidden">{% bootstrap_label 'OT hours'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 hidden">{% bootstrap_field form.ot_hrs  show_label=False  placeholder='Error Reported To' %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4 ">{% bootstrap_label 'OT Status'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 ">{% bootstrap_field form.ot_status show_label=False  placeholder='Error Reported To' %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4 ">{% bootstrap_label 'Upload File'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 ">{% bootstrap_field form.otdocument  show_label=False  placeholder='Error Reported Team' %}</span>
</div>


<div class="col-sm-12 col-md-12 col-lg-7">
<div class="col-sm-12 col-md-12 col-lg-3 ">{% buttons submit='Submit' %}{% endbuttons layout='inline' %}</div>
<div class="col-sm-12 col-md-12 col-lg-3 "><a href="{% url 'otdetail' %}" id="cancel" name="cancel" class="btn btn-default">Cancel</a></div>
</div>
</form>


<script type="text/javascript">
$(document).ready(function() {
  $("#id_ot_startdatetime").datepicker({
    dateFormat: 'yy-mm-dd',
     altField: '#thealtdate',
     altFormat: 'yy-mm-dd'});
});

$(document).ready(function() {
  $("#id_ot_enddatetime").datepicker({
    dateFormat: 'yy-mm-dd',
     altField: '#thealtdate',
     altFormat: 'yy-mm-dd'});
});



</script>








{% endblock %}

{% block footer %}
{% include "userprofilefootertest1.html" %}
{% endblock %}
