{% extends "basetemplate.html" %}
{% load staticfiles %}
{% block style %}
{% endblock %}
{% block navblockleft %}
<h4 class="fontstyle1"><span class ="glyphicon glyphicon-user"></span> {{username}} </h4>
{% endblock %}

{% block navblockright %}
{% include "userprofiletest1.html" %}
{% endblock %}


{% block content %}

<div class="col-sm-6 col-md-4 col-lg-12">
<form class="form" action="" method="POST" >
{% csrf_token %}
<div><label class="fontstyle1 fontsize30 fontfamilycambria widthsize30per"> Assigned Detail</label></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize15per hidden"> Assigned Date </label><span class="fontstyle4 fontsize15 fontfamilycambria widthsize15per hidden">{{ form.assigneddate}}</span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize15per"> Assigned To </label><span class="fontstyle4 fontsize15 fontfamilycambria widthsize15per">{{ form.assignedto}}</span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize15per"> Assigned By </label><span class="fontstyle4 fontsize15 fontfamilycambria widthsize15per">{{ form.assignedby}} </span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize15per hidden"> Request Id</label><span class="fontstyle4 fontsize15 fontfamilycambria widthsize15per hidden">{{ form.requestdetail}}</div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize15per hidden">Request Status Date</label><span class="fontstyle4 fontsize15 fontfamilycambria widthsize10per hidden">{{form1.requeststatusdate}}</span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize15per hidden">Request Status By</label><span class="fontstyle4 fontsize15 fontfamilycambria widthsize10per hidden">{{form1.username}}</span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize15per hidden">Request Status</label><span class="fontstyle4 fontsize15 fontfamilycambria widthsize10per hidden">{{form1.statusdetail }}</span></div>
<div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize15per hidden">Request Status ID </label><span class="fontstyle4 fontsize15 fontfamilycambria widthsize10per hidden">{{form1.requestdetail}}</span></div>
<div><button type="submit" class="backgroundcolor2 fontstyle1 fontfamilycambria fontsize15 bordercolor1 widthsize10per">Submit</button></span></div>
</form>
</div>
{% endblock %}
{% block footer %}
{% include "userprofilefootertest1.html" %}
{% endblock %}
