{% extends "base_model_template.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load staticfiles %}
{% block style %}
{% endblock %}

{% block content %}
<form class="form" method="POST" action="" class='form-inline '>
{% csrf_token %}
{% bootstrap_form_errors form type='non_fields' %}

<div class="col-sm-12 col-md-12 col-lg-12">
<div >
<h3 class="col-sm-12 col-md-12 col-lg-12 head">Completed Form</h3>
</div>
</div>
<div class="col-sm-12 col-md-12 col-lg-12">
<div >
<label class="col-sm-12 col-md-12 col-lg-4 hidden ">{% bootstrap_label 'Completed Date'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 hidden">{% bootstrap_field form.completeddate  show_label=False layout='inline'  %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4 ">{% bootstrap_label 'Completed By'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 ">{% bootstrap_field form.completedby  show_label=False   %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4 hidden">{% bootstrap_label 'Request Id'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 hidden">{% bootstrap_field form.requestdetail  show_label=False  placeholder='Error Reported Team' %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4 hidden">{% bootstrap_label 'Request Status Date'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 hidden">{% bootstrap_field form1.requeststatusdate  show_label=False  placeholder='Error Reported To' %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4 hidden">{% bootstrap_label 'Request Status By'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 hidden">{% bootstrap_field form1.username show_label=False  placeholder='Error Reported To' %}</span>
</div>

<div>
<label class="col-sm-12 col-md-12 col-lg-4 hidden">{% bootstrap_label 'Request Status'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 hidden">{% bootstrap_field form1.statusdetail  show_label=False  placeholder='Error Reported To' %}</span>
</div>

<div>
<label class="col-sm-12 col-md-12 col-lg-4 hidden">{% bootstrap_label 'Request Status ID'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 hidden">{% bootstrap_field form1.requestdetail  show_label=False  placeholder='Error Reported To' %}</span>
</div>
</div>

<div class="col-sm-12 col-md-12 col-lg-7">
  <div class="col-sm-12 col-md-12 col-lg-3 ">{% buttons submit='Submit' %}{% endbuttons layout='inline' %}</div>
  <div class="col-sm-12 col-md-12 col-lg-3 "><a href="{% url 'completed' %}" id="cancel" name="cancel" class="btn btn-default">Cancel</a></div>
</div>
</form>

{% endblock %}
