<form class="form" method="POST" action="" class='form-inline' enctype="multipart/form-data">
  {% csrf_token %}
  {% if template_type == 'template_with_parameter' %}
  {% include 'CentralMI/form_template_with_parameter.html' with form=form %}
  {% elif template_type == 'template_with_parameter_and_choice' %}
  {% include 'CentralMI/form_template_with_parameter_and_choice.html' with form=form %}
  {% else %}
  {% include 'CentralMI/form_template.html' with form=form %}
  {% endif %}
</form>
<script type="text/javascript">
$(document).ready(function() {
  $("#id_ot_startdatetime").datepicker({
    dateFormat: 'yy-mm-dd',
     altField: '#thealtdate',
     altFormat: 'yy-mm-dd'});
});

$(document).ready(function() {
  $("#id_ot_enddatetime").datepicker({
    dateFormat: 'yy-mm-dd',
     altField: '#thealtdate',
     altFormat: 'yy-mm-dd'});
});

</script>
