{% load static %}
<form class="form" method="POST" action="" class='form-inline' enctype="multipart/form-data" >
  {% csrf_token %}
  {% if template_type == 'template_with_parameter' %}
  {% include 'CentralMI/form_template_with_parameter.html' with form=form %}
  {% elif template_type == 'template_with_choice' %}
  {% include 'CentralMI/form_template_with_choice.html' with form=form %}
  {% else %}
  {% include 'CentralMI/form_template.html' with form=form %}
  {% endif %}
</form>
<script type="text/javascript">
</script>
