{% extends "basetemplate.html" %}
{% load staticfiles %}
{% block style %}
{% endblock %}

{% block navblockleft %}
<h4 class="fontstyle1"><span class ="glyphicon glyphicon-user"></span> {{username}} </h4>
{% endblock %}

{% block navblockright %}
{% include "userprofiletest1.html" %}
{% endblock %}

{% block navblockfilterform %}
{% endblock %}

{% block content %}
  <div class="col-sm-6 col-md-4 col-lg-12">
    <span class="fontstyle1 fontsize30 fontfamilycambria widthsize30per"> Error Details</span><span class="fontstyle4 fontsize15 fontfamilycambria widthsize30per"> </span>
    <table  class="table" id="example" style="width:100%">
      <thead class="thead">
      <tr class="fontstyle4 fontsize15 fontfamilycambria widthsize25per backgroundcolor1 " >
        <td >Report ID</td>
        <td >Error Occurance Date</td>
        <td >Error Report</td>
        <td >Reported By</td>
        <td >Reported Team</td>
        <td >Reported To</td>
        <td >Error Type</td>
        <td >Error Description</td>
        </tr>
      </thead>
      <tbody class="tbody">
    {%for data in model %}
      <tr class="fontstyle1 fontsize12 fontfamilycambria widthsize25per backgroundcolor2 ">
      <td ><a class="fontstyle1 fontsize12 fontfamilycambria widthsize25per backgroundcolor2" href="{% url 'errorlog' data.reportid %}">{{data.reportid}} </a> </td>
        <td>{{data.errorlog_date }}</td>
        <td>{{data.error_report }}</td>
        <td>{{data.error_reportedby }}</td>
        <td>{{data.error_reportedteam }}</td>
        <td>{{data.error_reportedto }}</td>
        <td>{{data.error_type }}</td>
        <td>{{data.error_description }}</td>
        {% endfor %}
      </tr></br>
    </tbody>
    </table>
  </div>
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function() {
    $('#example').DataTable(
    {
      fixedHeader: true
    });

} );
</script>

{% endblock %}

{% block footer %}
{% include "userprofilefootertest1.html" %}
{% endblock %}
