{% extends "basetemplate.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load staticfiles %}
{% block style %}
<script src="{% static 'jquery/jquery-ui.js' %}"></script>
<script src="{% static 'jquery/myjquery.js' %}"></script>
{% endblock %}

{% block navblockleft %}
<h4 class="fontstyle1"><span class ="glyphicon glyphicon-user"></span> {{username}} </h4>
{% endblock %}

{% block navblockright %}
{% include "userprofiletest1.html" %}
{% endblock %}

{% block navblockfilterform %}
{% endblock %}

{% block content %}

<form method="post" id="extractdata" data-mimember-url="{% url 'ajax_load_mimember' %}" novalidate>
{% csrf_token %}
  <div class="col-sm-12 col-md-12 col-lg-12">
  <table id="table1" class="table table-striped" >
  <tbody>
    {% if authority == "Group2" %}
    <thead class="tableheaderformat">
    <tr>
     <th>DataModel</th>
     <th>Start Date</th>
     <th>End Date</th>
     <th>Team</th>
     <th>Member</th>
     <th  class='submit'>Save</th>

    </tr>
    </thead>
    <tbody class="tablebodyformat">
     <tr class="">
       <td>{{form.datachoice }}</td>
       <td>{{form.startdate }}</td>
       <td>{{form.enddate  }}</td>
       <td>{{form.team }}</td>
       <td>{{form.member }}</td>
       <td><button id="submitbutton" class='submit' type="submit">Submit</button></td>

     </tr>
       {% else %}
       <thead class="tableheaderformat">
       <tr>
        <th>DataModel</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th  class='submit'>Save</th>
       </tr>
       </thead>
       <tbody class="">
        <tr class="">
          <td>{{form.datachoice }}</td>
          <td>{{form.startdate }}</td>
          <td>{{form.enddate  }}</td>
          <td><button id="submitbutton" class='submit' type="submit">Submit</button></td>
        </tr>
         {% endif %}
       </tbody>
</table>
</div>
     </form>

<div class="col-sm-6 col-md-4 col-lg-12">
  <table  class="table" id="example" style="width:100%">
    <thead class="thead">
      <tr class="fontstyle4 fontsize15 fontfamilycambria widthsize25per backgroundcolor1 " >

    {% if reportno == "1" %}
    {% elif reportno == "2" %}
      <td >Request ID</td>
      <td >Request Raised Date</td>
      <td >Request Type</td>
      <td >Priority Detail</td>
      <td >Request Status</td>
      {% elif reportno == "3" %}
      <td>timetrackerid</td>
      <td>registerdatetime</td>
      <td>trackingdatetime </td>
      <td>mimember</td>
      <td>teamdetail </td>
      <td>requestcategorys </td>
      <td>requestsubcategory </td>
      <td>task </td>
      <td>requestdetail </td>
      <td>description_text </td>
      <td>totaltime</td>
      <td>comments</td>
      <td>startdatetime</td>
      <td>stopdatetime </td>
      <td>reports </td>
      {% elif reportno == "4" %}
      <td>error_id </td>
      <td>errorlog_date </td>
      <td>error_occurancedate</td>
      <td>error_report </td>
      <td>error_reportedby </td>
      <td>error_reportedteam </td>
      <td>error_reportedto </td>
      <td>error_type </td>
      <td>error_description </td>

      {% elif reportno == "5" %}
      <td>ot_id </td>
      <td>timetrackers </td>
      <td>ot_startdatetime </td>
      <td>ot_enddatetime </td>
      <td>ot_hrs </td>
      <td>ot_status </td>
      {% endif %}
    </tr>
    </thead>
    <tbody class="tbody">

  {%  if activetab1 == "extractdatafilter1" %}

  {%for data in model %}
  <tr class="fontstyle1 fontsize12 fontfamilycambria widthsize25per backgroundcolor2 ">

  {% if reportno == "1" %}
      {% elif reportno == "2" %}
      <td>{{data.requestraiseddate }}</td>
      <td>{{data.requesttype }}</td>
      <td>{{data.requestpriority }}</td>
      <td>{{data.requestdescription }}</td>
      {% elif reportno == "3" %}
      <td>{{data.timetrackerid }}</td>
      <td>{{data.registerdatetime }}</td>
      <td>{{data.trackingdatetime }}</td>
      <td>{{data.mimember }}</td>
      <td>{{data.teamdetail }}</td>
      <td>{{data.requestcategorys }}</td>
      <td>{{data.requestsubcategory }}</td>
      <td>{{data.task }}</td>
      <td>{{data.requestdetail }}</td>
      <td>{{data.description_text }}</td>
      <td>{{data.totaltime }}</td>
      <td>{{data.comments }}</td>
      <td>{{data.startdatetime }}</td>
      <td>{{data.stopdatetime }}</td>
      <td>{{data.reports }}</td>

      {% elif reportno == "4" %}
      <td>{{data.error_id }}</td>
      <td>{{data.errorlog_date }}</td>
      <td>{{data.error_occurancedate }}</td>
      <td>{{data.error_report }}</td>
      <td>{{data.error_reportedby }}</td>
      <td>{{data.error_reportedteam }}</td>
      <td>{{data.error_reportedto }}</td>
      <td>{{data.error_type }}</td>
      <td>{{data.error_description }}</td>
      {% elif reportno == "5" %}
      <td>{{data.ot_id }}</td>
      <td>{{data.timetrackers }}</td>
      <td>{{data.ot_startdatetime }}</td>
      <td>{{data.ot_enddatetime }}</td>
      <td>{{data.ot_hrs }}</td>
      <td>{{data.ot_status }}</td>

      {% endif %}

      {% endfor %}

    </tr></br>


  </tbody>
  </table>
<script>

$("#id_team").change(function () {
    var member_id = $(this).val();  // get the selected country ID from the HTML input
   console.log(member_id)
   $.ajax({
     url: "{% url 'ajax_load_mimember' %}",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
     data: {
       'mimemberid': member_id     // add the country id to the GET parameters
     },
       success: function (data) {   // `data` is the return of the `load_cities` view function
       $("#id_member").html(data);  // replace the contents of the city input with the data that came from the server
     }
   });
 });


 $(document).ready(function() {
   $("#id_startdate").datepicker({
     dateFormat: 'yy-mm-dd',
      altField: '#thealtdate',
      altFormat: 'yy-mm-dd'});
 });

 $(document).ready(function() {
   $("#id_enddate").datepicker({
     dateFormat: 'yy-mm-dd',
      altField: '#thealtdate',
      altFormat: 'yy-mm-dd'});
 });


  </script>




  {%  elif activetab1 == "summary" %}
  {% endif %}


</div>





{% endblock %}

{% block footer %}
{% include "userprofilefootertest1.html" %}
{% endblock %}
