{% extends "basetemplate.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load staticfiles %}
{% block style %}
{% endblock %}

{% block navblockleft %}
<h4 class="fontstyle1"><span class ="glyphicon glyphicon-user"></span> {{username}} </h4>
{% endblock %}

{% block navblockright %}
{% include "userprofiletest1.html" %}
{% endblock %}


{% block content %}
<form class="form" method="POST" action="" class='form-inline '>
{% csrf_token %}
{% bootstrap_form_errors form type='non_fields' %}

<div class="col-sm-12 col-md-12 col-lg-12">
<div >
<h3 class="col-sm-12 col-md-12 col-lg-12 head">Feedback Form</h3>
</div>
</div>
<div class="col-sm-12 col-md-12 col-lg-12">
<div >
<label class="col-sm-12 col-md-12 col-lg-2 ">{% bootstrap_label 'Activity'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-10 ">{% bootstrap_field form.activity  show_label=False layout='inline'  %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-2 hidden">{% bootstrap_label 'feedbckdate'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-10 hidden">{% bootstrap_field form.feedback_date  show_label=False   %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-2 ">{% bootstrap_label 'Select Qustion'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-10 ">{% bootstrap_field form.feedback_question  show_label=False  placeholder='' %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-2 ">{% bootstrap_label 'Feedback'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-10 ">{% bootstrap_field form.feedback_text  show_label=False  placeholder='Feedback' %}</span>
</div>
<div class="col-sm-12 col-md-12 col-lg-12">
<div class="col-sm-12 col-md-12 col-lg-12 ">{% buttons submit='Submit' %}{% endbuttons layout='inline' %}
</div>

</form>

{% endblock %}

{% block footer %}
{% include "userprofilefootertest1.html" %}
{% endblock %}
