{% extends "basetemplate.html" %}
{% load staticfiles %}
{% block style %}
{% endblock %}

{% block navblockleft %}
<h4 class="fontstyle1"><span class ="glyphicon glyphicon-user"></span> {{username}} </h4>
{% endblock %}

{% block navblockright %}
{% include "userprofiletest1.html" %}
{% endblock %}


{% block content %}
<div class="col-sm-12 col-md-12 col-lg-12">
  <form class="form" method="POST" action="" >
  {% csrf_token %}
  <div><label class="fontstyle1 fontsize30 fontfamilycambria widthsize30per"> User Feedback </label></div>
  <div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize15per"> Report Name </label><span class="fontstyle4 fontsize15 fontfamilycambria widthsize15per">{{ form.reports}}</span></div>
  <div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize15per"> Feedback Date </label><span class="fontstyle4 fontsize15 fontfamilycambria widthsize15per">{{ form.feedback_date}}</span></div>
  <div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize15per"> Select Question </label><span class="fontstyle4 fontsize15 fontfamilycambria widthsize15per">{{ form.feedback_question}} </span></div>
  <div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize15per"> Answer </label><span class="fontstyle4 fontsize15 fontfamilycambria widthsize15per ">{{ form.feedback_integer}}</div>
  <div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize15per ">Answer </label><span class="fontstyle4 fontsize15 fontfamilycambria widthsize10per ">{{form.feedback_text}}</span></div>
  <div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize15per"> Answer </label><span class="fontstyle4 fontsize15 fontfamilycambria widthsize10per ">{{form.feedback_datetime}}</span></div>
  <div><button type="submit" class="backgroundcolor2 fontstyle1 fontfamilycambria fontsize15 bordercolor1 widthsize10per">Submit</button></span></div>
</form>
</div>

{% endblock %}

{% block footer %}
{% include "userprofilefootertest1.html" %}
{% endblock %}
