{% extends "basetemplate.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block navblockright %}
{% include "userprofiletest1.html" %}
{% endblock %}

{% block modelcontent %}

<!-- Button trigger modal -->
<button type="button" id="modal" class="btn btn-info btn-lg hidden" data-toggle="modal" data-target="#exampleModalLong" data-backdrop="static" data-keyboard="false">Open Modal</button>
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">{{title}}</h3>
      </div>
      <div class="modal-body">

          {% if checkmember > 0 %}
          {% for data in model2 %}
          <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="fontstyle1 fontsize20 fontfamilycambria widthsize25per"> Current Selection </div>
          <div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> ID : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ data.internaltaskstatusid }} </span></div>
          <div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> DateTime : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ data.internaltaskstatusdatetime  }}</span></div>
          <div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Member : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ data.memberid}} </span></div>
          <div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Task : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ data.internaltaskid }} </span></div>
          <div><label class="fontstyle4 fontsize15 fontfamilycambria widthsize25per"> Choice : </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize25per"> {{ data.internaltaskchoiceid }} </span></div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-7">
          <div class="col-sm-12 col-md-12 col-lg-3 "><a href="{% url 'internaltaskdetail'  %}" id="submit" name="submit" class="btn btn-success">Done</a></div>
          <div class="col-sm-12 col-md-12 col-lg-3 "><a href="{% url 'internaltaskwithchoiceedit' reverseid  %}" id="edit" name="edit" class="btn btn-warning">Edit</a></div>
          </div>
          </div>
          {% endfor %}

          {% else %}
          {% for question in model %}
          <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="">{{ question.sequence }} {{ question.internaltaskquestion }} </div>
          </div>
          {% endfor %}

          <h2>{{form_header}}</h2>
            {% for hidden in form.hidden_fields %}
              {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
              <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:'form-control' }}
                {% for error in field.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
            {% endfor %}

            {% for hidden in form1.hidden_fields %}
              {{ hidden }}
            {% endfor %}
            {% for field in form1.visible_fields %}
              <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:'form-control' }}
                {% for error in field.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
            {% endfor %}
            {% for choices in model1 %}
            <div class="col-sm-12 col-md-12 col-lg-12">
            <input type="radio" name="choice" id="choices{{ forloop.counter }}" value="{{ choices.internaltaskchoice }}" />
            <label  class="fontstyle4 fontsize15 fontfamilycambria widthsize20per " for="choices{{ forloop.counter }}">{{  choices.internaltaskchoice }}</label><br />
            </div>
            {% endfor %}

        <div class="modal-footer">
          <div>{% buttons %}<button type="submit" class="btn btn-success"> Submit</button>{% endbuttons %}</div>
          <div><a href="{% url 'internaltaskdetail' %}" id="cancel" name="cancel" class="btn btn-danger">Cancel</a></div>
        </div>
          {% endif %}





      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<script> $("#modal").trigger('click'); </script>

{% endblock %}
{% block footer %}
{% include "userprofilefootertest1.html" %}
{% endblock %}
