{% extends "basetemplate.html" %}
{% load staticfiles %}
{% block style %}
<style>
/* Ensure that the demo table scrolls */
    th, td { white-space: nowrap; }
    div.dataTables_wrapper {
        margin: 0 auto;
    }

    div.container {

        width: 100%;

    }

</style>
{% endblock %}

{% block navblockleft %}
<h4 class="fontstyle1"><span class ="glyphicon glyphicon-user"></span> {{username}} </h4>
{% endblock %}

{% block navblockright %}
{% include "userprofiletest1.html" %}
{% endblock %}

{% block navblockfilterform %}
{% endblock %}

{% block content %}
<div class="col-sm-12 col-md-12 col-lg-12">
  <table  class="table " id="example" style="width:100%">
    <thead class="thead tableheaderformat">
    <tr class="" >
      <td >Internal Task ID <a href="{% url 'addinternaltaskdetail' %}" id="addinternaltask" name="addinternaltask" class="glyphicon glyphicon-plus"></td>
      <td >Internal Task Datetime</td>
      <td >Question</td>
      <td> Status </td>
      <td> Owner </td>
      <td> Update </td>
      <td> View | Edit | Add </td>
    </tr>
    </thead>
    <tbody class="tbody">
  {%for data in model %}
    <tr class="tablebodyformat">
      <td ><a href="{% url 'editinternaltaskdetail' data.internaltaskid %}">{{data.internaltaskid }} </a></td>
      <td>{{data.internaltaskdatetime }}</td>
      <td >{{data.internaltaskquestion }}</td>
      <td >{{data.status }}</td>
      <td >{{data.owner }}</td>
      <td> <a href="{% url 'internaltaskwithchoice' data.internaltaskid %}" class="glyphicon glyphicon-pencil"></a></td>
      <td> <a href="{% url 'viewinternaltaskoption' data.internaltaskid %}" class="glyphicon glyphicon-pencil"></a></td>

      {% endfor %}
      </tr></br>

  </tbody>
  </table>
</div>

{% endblock %}

{% block javascript %}
<script>
$(document).ready(function() {
    $('#example').DataTable(
    {
      fixedHeader: true,

    });

} );
</script>
{% endblock %}

{% block footer %}
{% include "userprofilefootertest1.html" %}
{% endblock %}
{% block footer_right %}
{% endblock %}
