{% extends "basetemplate.html" %}
{% load staticfiles %}
{% block style %}
{% endblock %}

{% block navblockleft %}
<h4 class="fontstyle1"><span class ="glyphicon glyphicon-user"></span> {{username}} </h4>
{% endblock %}

{% block navblockright %}
{% include "userprofiletest1.html" %}
{% endblock %}

{% block navblockfilterform %}
{% endblock %}

{% block content %}
  <div class="col-sm-6 col-md-4 col-lg-12">
    <table  class="table" id="example" style="width:100%">
      <thead class="thead tableheaderformat">
      <tr class="" >
        <td >OT ID</td>
        <td >TimeTracker Ref</td>
        <td >Start Date-Time</td>
        <td >End Date-Time</td>
        <td >OT in Hrs.</td>
        <td >OT Status</td>
        </tr>
      </thead>
      <tbody class="tbody">
    {%for data in model %}
      <tr class="tablebodyformat">
        <td>{{data.reportid}}</td>
        <td>{{data.ot_id }}</td>
        <td>{{data.timetrackers }}</td>
        <td>{{data.ot_startdatetime }}</td>
        <td>{{data.ot_enddatetime }}</td>
        <td>{{data.ot_hrs }}</td>
        <td>{{data.ot_status }}</td>
        {% endfor %}
      </tr></br>
    </tbody>
    </table>
  </div>
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function() {
    $('#example').DataTable(
    {
      fixedHeader: true
    });

} );
</script>

{% endblock %}

{% block footer %}
{% include "userprofilefootertest1.html" %}
{% endblock %}
