{% extends "basetemplate.html" %}
{% load staticfiles %}
{% block style %}
{% endblock %}

{% block navblockleft %}
<h4 class="fontstyle1"><span class ="glyphicon glyphicon-user"></span> {{username}} </h4>
{% endblock %}

{% block navblockright %}
{% include "userprofiletest1.html" %}
{% endblock %}

{% block navblockfilterform %}
{% endblock %}

{% block content %}
<div class="col-sm-12 col-md-12 col-lg-12">
<div class="col-sm-12 col-md-12 col-lg-6 "><a href="{% url 'rawdteamdaddform' %}" id="rawteamadd" name="Add" class="btn btn-default">Add Team Member</a></div>

</div>


<div class="col-sm-12 col-md-12 col-lg-12">
  <div class="col-sm-3 col-md-3 col-lg-3 ">
    <div class="col-sm-12 col-md-12 col-lg-12 card">Funtastic 7</div>
    <div class="col-sm-12 col-md-12 col-lg-12 card1">
    {%for data in model1 %}
    <li>   <a href="{% url 'rawdteameditform' data.raw_team_member_id %}" >{{data.raw_member }}</a></li>
   {% endfor %}
  </div>

</div>

<div class="col-sm-3 col-md-3 col-lg-3">
  <div class="col-sm-12 col-md-12 col-lg-12 card">MH-007</div>
  <div class="col-sm-12 col-md-12 col-lg-12 card1">
  {%for data in model2 %}
  <li>   <a href="{% url 'rawdteameditform' data.raw_team_member_id %}" class="fontstyle1">{{data.raw_member }}</a></li>
 {% endfor %}
</div>

</div>

<div class="col-sm-3 col-md-3 col-lg-3">
  <div class="col-sm-12 col-md-12 col-lg-12 card">Fun Squard</div>
  <div class="col-sm-12 col-md-12 col-lg-12 card1">

  {%for data in model3 %}
  <li>   <a href="{% url 'rawdteameditform' data.raw_team_member_id %}" >{{data.raw_member }}</a></li>
 {% endfor %}
</div>

</div>

<div class="col-sm-3 col-md-3 col-lg-3">
  <div class="col-sm-12 col-md-12 col-lg-12 card">ISI</div>
  <div class="col-sm-12 col-md-12 col-lg-12 card1">

  {%for data in model4 %}
  <li>   <a href="{% url 'rawdteameditform' data.raw_team_member_id %}" >{{data.raw_member }}</a></li>
 {% endfor %}
</div>
</div>


  </div>
{% endblock %}

{% block javascript %}
{% endblock %}

{% block footer %}
{% include "userprofilefootertest1.html" %}

{% endblock %}
{% block footer_right %}
<span class="subheaderformat"> Click on ID to log Error & Report Name to log Feedback</span>
{% endblock %}
