<table id="table2" class="table table-striped" id="datatable" >
<tbody>
  <tr>
    <th class="hidden">Tracking ID</th>
    <th class="hidden">Registered Date</th>
    <th class="hidden">Tracking Date</th>
    <th>Associate Name</th>
    <th>Team Name</th>
    <th>Request Category</th>
    <th>Request Sub-Category</th>
    <th>Request ID</th>
    <th>Task</th>
    <th>OT (IF Any)</th>
    <th>Descritpion</th>
    <th>Total Time (Minutes)</th>
    <th>Comments</th>
    <th>Start-Time</th>
    <th>Stop-Time</th>
    <th>Edit</th>

    </tr>
{%for data in model %}
  <tr>
    <td class="hidden">{{form.timetrackerid }}</td>
    <td class="hidden">{{data.registerdatetime    }}</td>
    <td class="hidden">{{data.trackingdatetime }}</td>
    <td>{{data.mimember }}</td>
    <td>{{data.teamdetail }}</td>
    <td>{{data.requestcategorys }}</td>
    <td>{{data.requestsubcategory.requestsubcategory  }}</td>
    <td>{{data.requestdetail   }}</td>
    <td>{{data.task  }}</td>
    <td>{{data.options   }}</td>
    <td>{{data.description_text   }}</td>
    <td>{{data.totaltime }}</td>
    <td>{{data.comments    }}</td>
    <td>{{data.startdatetime  }}</td>
    <td >{{data.stopdatetime   }}</td>
    <td> <a href="{% url 'edittracker' data.timetrackerid %}" class="glyphicon glyphicon-pencil"></a> </td>

    {% endfor %}


</tr></br>
</tbody>
</table>
