{% extends "base_model_template.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load staticfiles %}
{% block style %}
{% endblock %}

{% block navblockleft %}
<h4 class="fontstyle1"><span class ="glyphicon glyphicon-user"></span> {{username}} </h4>
{% endblock %}

{% block navblockright %}
{% include "userprofiletest1.html" %}
{% endblock %}


{% block content %}

<form class="form" method="POST" action="" class='form-inline ' enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_form_errors form type='non_fields' %}

<div class="col-sm-12 col-md-12 col-lg-12">
<div >
<h3 class="col-sm-12 col-md-12 col-lg-12 head">Add Report</h3>
</div>
</div>
<div class="col-sm-12 col-md-12 col-lg-12">
<div >
<label class="col-sm-12 col-md-12 col-lg-4 hidden ">{% bootstrap_label 'Registered Date'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 hidden">{% bootstrap_field form.registereddate  show_label=False layout='inline'  %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4 ">{% bootstrap_label 'Report Type'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8">{% bootstrap_field form.requestcategorys  show_label=False   %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4 ">{% bootstrap_label 'Report Name'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 " >{% bootstrap_field form.name  show_label=False   %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4">{% bootstrap_label 'Report Frequency'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8">{% bootstrap_field form.frequency  show_label=False placeholder='Frequency of Activity'   %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4">{% bootstrap_label 'Date types'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8">{% bootstrap_field form.date_types  show_label=False    %}</span>
</div>

<div>
<label class="col-sm-12 col-md-12 col-lg-4">{% bootstrap_label 'Delivery Days'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8">{% bootstrap_field form.delivery_days  show_label=False  placeholder='Working Day or Calendar day' %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4">{% bootstrap_label 'Delivery Time'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8">{% bootstrap_field form.deliverytime  show_label=False placeholder='Time before reports to be delivered'   %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4">{% bootstrap_label 'Team Name'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8">{% bootstrap_field form.teamname  show_label=False   %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4">{% bootstrap_label 'Primary Owner'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 backgroundcolor2">{% bootstrap_field form.primaryowner  show_label=False %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4">{% bootstrap_label 'Secondary Owner'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 backgroundcolor2">{% bootstrap_field form.secondaryowner  show_label=False  %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4">{% bootstrap_label 'Activity Description'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 ">{% bootstrap_field form.description  show_label=False placeholder='Activity Description' %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4">{% bootstrap_label 'Activity Status'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 ">{% bootstrap_field form.activitystatus  show_label=False placeholder='Activity Status' %}</span>
</div>
<div>
<label class="col-sm-12 col-md-12 col-lg-4 ">{% bootstrap_label 'Upload File'  %}</label>
<span class="col-sm-12 col-md-12 col-lg-8 ">{% bootstrap_field form.activitydocument  show_label=False  placeholder='Error Reported Team' %}</span>
</div>

</div>

<div class="col-sm-12 col-md-12 col-lg-7">
<div class="col-sm-12 col-md-12 col-lg-3 ">{% buttons submit='Submit' %}{% endbuttons layout='inline' %}</div>
<div class="col-sm-12 col-md-12 col-lg-3 "><a href="{% url 'allreports' %}" id="cancel" name="cancel" class="btn btn-default">Cancel</a></div>
</div>
</form>
{% endblock %}
