<!DOCTYPE html>
{% extends "basetemplate.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load staticfiles %}
<!-- _________________________________________________________________________ -->
{% block style %}
{{% endblock %}
<!-- _________________________________________________________________________ -->
{% block navblockright %}
{% include "userprofiletest1.html" %}
{% endblock %}
<!-- _________________________________________________________________________ -->
{% block navblockleft %}
{% endblock %}
<!-- _________________________________________________________________________ -->
{% block content %}

  <form class="form" method="POST" action="" class='form-inline '>
  {% csrf_token %}
  {% bootstrap_form_errors form type='non_fields' %}

  <div class="col-sm-12 col-md-12 col-lg-12">
  <div >
  <h3 class="col-sm-12 col-md-12 col-lg-12 head">CREATE LOGIN CREDENTIAL</h3>
  </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6">
  <div >
  <label class="col-sm-12 col-md-12 col-lg-4  ">{% bootstrap_label 'Username'  %}</label>
  <span class="col-sm-12 col-md-12 col-lg-8 ">{% bootstrap_field form.username  show_label=False  placeholder='Enter Username' %}</span>
  </div>
  <div>
  <label class="col-sm-12 col-md-12 col-lg-4 ">{% bootstrap_label 'First Name'  %}</label>
  <span class="col-sm-12 col-md-12 col-lg-8">{% bootstrap_field form.firstname  show_label=False placeholder='Enter Password'   %}</span>
  </div>
  <div>
  <label class="col-sm-12 col-md-12 col-lg-4 ">{% bootstrap_label 'Last Name'  %}</label>
  <span class="col-sm-12 col-md-12 col-lg-8">{% bootstrap_field form.lastname  show_label=False placeholder='Enter Password'   %}</span>
  </div>
  <div>
  <label class="col-sm-12 col-md-12 col-lg-4 ">{% bootstrap_label 'Email ID'  %}</label>
  <span class="col-sm-12 col-md-12 col-lg-8">{% bootstrap_field form.email  show_label=False placeholder='Enter Password'   %}</span>
  </div>

  <div>
  <label class="col-sm-12 col-md-12 col-lg-4 ">{% bootstrap_label 'Password'  %}</label>
  <span class="col-sm-12 col-md-12 col-lg-8">{% bootstrap_field form.password  show_label=False placeholder='Enter Password'   %}</span>
  </div>

  <div>
  <label class="col-sm-12 col-md-12 col-lg-4 ">{% bootstrap_label 'Password (Again)'  %}</label>
  <span class="col-sm-12 col-md-12 col-lg-8">{% bootstrap_field form.passwordagain  show_label=False placeholder='Enter Password (Again)'   %}</span>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12">
  <div class="col-sm-12 col-md-12 col-lg-12 ">{% buttons submit='Submit' %}{% endbuttons layout='inline' %}</div>
  </div>
  </form>




{% endblock %}
<!-- _________________________________________________________________________ -->

{% block footer %}
{% include "userprofilefootertest1.html" %}
{% endblock %}
