<!DOCTYPE html>
{% extends "basetemplate.html" %}
{% load staticfiles %}
<!-- _________________________________________________________________________ -->
{% block style %}
{{% endblock %}
<!-- _________________________________________________________________________ -->
{% block navblockright %}
{% include "userprofiletest1.html" %}
{% endblock %}
<!-- _________________________________________________________________________ -->
{% block navblockleft %}
<h4 class="fontstyle1"><span class ="glyphicon glyphicon-user"></span> {{systemname}} </h4>
{% endblock %}
<!-- _________________________________________________________________________ -->
{% block content %}
<div id="id1" class = "item1">
  <p class="fontstyle1 fontsize30 fontfamilycambria widthsize30per"> CREATE LOGIN CREDENTIAL</p>
  <form method="POST">
      {% csrf_token %}
      {% if error %}
      {{error}}
      {% endif %}
      <div ><label class="fontstyle4 fontsize20 fontfamilycambria widthsize10per ">User Name </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize10per "> {{ form.username }}</span></div>
      <div ><label class="fontstyle4 fontsize20 fontfamilycambria widthsize10per"> First Name   </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize10per ">  {{ form.firstname }}</span><span>
      <div ><label class="fontstyle4 fontsize20 fontfamilycambria widthsize10per"> Last Name </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize10per ">  {{ form.lastname }}</span><span>
      <div ><label class="fontstyle4 fontsize20 fontfamilycambria widthsize10per"> Email   </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize10per ">  {{ form.email }}</span><span>
      <div ><label class="fontstyle4 fontsize20 fontfamilycambria widthsize10per"> Password   </label><span class="fontstyle1 fontsize15 fontfamilycambria widthsize10per ">  {{ form.password }}</span><span><button type="submit" class="backgroundcolor2 fontstyle1 fontfamilycambria fontsize15 bordercolor1 widthsize10per">Sign Up</button></span></div>

  </form>
  </div>
{% endblock %}
<!-- _________________________________________________________________________ -->

{% block footer %}
{% include "userprofilefootertest1.html" %}
{% endblock %}
