{% extends "basetemplate.html" %}
{% load staticfiles %}
{% block style %}
{% endblock %}

{% block navblockleft %}
<h4 class="fontstyle1"><span class ="glyphicon glyphicon-user"></span> {{username}} </h4>
{% endblock %}

{% block navblockright %}
{% include "userprofiletest1.html" %}
{% endblock %}

{% block navblockfilterform %}
{% include "filter_panel.html" %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-6 col-md-4 col-lg-2">
    <label class="fontstyle1 fontsize15 fontfamilycambria widthsize12per">Last 5 Days Workingdays</label>
    {{form}}
    </div>
  <div class="col-sm-6 col-md-4 col-lg-2">
    <label class="fontstyle1 fontsize15 fontfamilycambria widthsize12per">Last 5 Days OT</label>
    {% for key, value in dvOT.items %}
    <li class="fontstyle4 fontsize12 fontfamilycambria widthsize12per">{{key}} <span class="fontstyle1 fontsize12 fontfamilycambria widthsize12per">{{value}}<span></li>
    {% endfor %}
  </div>
  <div class="col-sm-6 col-md-4 col-lg-2">
    <label class="fontstyle1 fontsize15 fontfamilycambria widthsize12per">Last 5 Days Core</label>
    {% for key, value in dvcore.items %}
    <li class="fontstyle4 fontsize12 fontfamilycambria widthsize12per">{{key}} <span class="fontstyle1 fontsize12 fontfamilycambria widthsize12per">{{value}}</li>
    {% endfor %}
  </div>
  <div class="col-sm-6 col-md-4 col-lg-2">
    <label class="fontstyle1 fontsize15 fontfamilycambria widthsize12per">Last 5 Days Utilisation</label>
    {% for key, value in dvutilisation.items %}
    <li class="fontstyle4 fontsize12 fontfamilycambria widthsize12per">{{key}} <span class="fontstyle1 fontsize12 fontfamilycambria widthsize12per">{{value}}</li>
    {% endfor %}
  </div>
  <div class="col-sm-6 col-md-4 col-lg-2">
    <label class="fontstyle1 fontsize15 fontfamilycambria widthsize12per">Last 5 Days Utilisation</label>
    {% for key, value in dvutilisation.items %}
    <li class="fontstyle4 fontsize12 fontfamilycambria widthsize12per">{{key}} <span class="fontstyle1 fontsize12 fontfamilycambria widthsize12per">{{value}}</li>
    {% endfor %}
  </div>
  <div class="col-sm-6 col-md-4 col-lg-2">
    <label class="fontstyle1 fontsize15 fontfamilycambria widthsize12per">Last 5 Weeks </label>
    {% for key, value in wv.items %}
    <li class="fontstyle4 fontsize12 fontfamilycambria widthsize12per">{{key}} <span class="fontstyle1 fontsize12 fontfamilycambria widthsize12per">{{value}}</li>
    {% endfor %}
  </div>
  <div class="col-sm-6 col-md-4 col-lg-2">
    <label class="fontstyle1 fontsize15 fontfamilycambria widthsize12per">Last 5 Days Workingdays</label>
    {% for key, value in dv.items %}
    <li class="fontstyle4 fontsize12 fontfamilycambria widthsize12per">{{key}} <span class="fontstyle1 fontsize12 fontfamilycambria widthsize12per">{{value}}</li>
    {% endfor %}
  </div>
  <div class="col-sm-6 col-md-4 col-lg-2">
    <label class="fontstyle1 fontsize15 fontfamilycambria widthsize12per">Last 5 Weeks OT </label>
    {% for key, value in wvOT.items %}
    <li class="fontstyle4 fontsize12 fontfamilycambria widthsize12per">{{key}} <span class="fontstyle1 fontsize12 fontfamilycambria widthsize12per">{{value}}</li>
    {% endfor %}
  </div>
  <div class="col-sm-6 col-md-4 col-lg-2">
    <label class="fontstyle1 fontsize15 fontfamilycambria widthsize12per">Last 5 Weeks Core</label>
    {% for key, value in wvcore.items %}
    <li class="fontstyle4 fontsize12 fontfamilycambria widthsize12per">{{key}} <span class="fontstyle1 fontsize12 fontfamilycambria widthsize12per">{{value}}</li>
    {% endfor %}
  </div>
  <div class="col-sm-6 col-md-4 col-lg-2">
    <label class="fontstyle1 fontsize15 fontfamilycambria widthsize12per">Last 5 Weeks Utilisaion </label>
    {% for key, value in wvutilisation.items %}
    <li class="fontstyle4 fontsize12 fontfamilycambria widthsize12per">{{key}} <span class="fontstyle1 fontsize12 fontfamilycambria widthsize12per">{{value}}</li>
    {% endfor %}
  </div>
  <div class="col-sm-6 col-md-4 col-lg-2">
    <label class="fontstyle1 fontsize15 fontfamilycambria widthsize12per">Last 3 Months </label>
    {% for key, value in mv.items %}
    <li class="fontstyle4 fontsize12 fontfamilycambria widthsize12per">{{key}} <span class="fontstyle1 fontsize12 fontfamilycambria widthsize12per">{{value}}</li>
    {% endfor %}
  </div>
  <div class="col-sm-6 col-md-4 col-lg-2">
    <label class="fontstyle1 fontsize15 fontfamilycambria widthsize12per">Last 3 Months OT </label>
    {% for key, value in mvOT.items %}
    <li class="fontstyle4 fontsize12 fontfamilycambria widthsize12per">{{key}} <span class="fontstyle1 fontsize12 fontfamilycambria widthsize12per">{{value}}</li>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block footer %}
{% include "userprofilefootertest1.html" %}
{% endblock %}
