{% extends "basetemplate.html" %}
{% load staticfiles %}
{% block style %}
{% endblock %}

{% block navblockleft %}
<h4 class="fontstyle1"><span class ="glyphicon glyphicon-user"></span> {{username}} </h4>
{% endblock %}

{% block navblockright %}
{% include "userprofiletest1.html" %}
{% endblock %}

{% block navblockfilterform %}
{% endblock %}

{% block content %}
  <div class="col-sm-12 col-md-12 col-lg-12">
    <table  id="example" class="table" style="width:100%">
      <thead class="">
      <tr class="fontstyle4 fontsize15 fontfamilycambria widthsize25per backgroundcolor1" >
        <td >ID <a href="{% url 'usefullinkaddform' %}" class="glyphicon glyphicon-plus"></a></td>
        <td >Date Time</td>
        <td >Team </td>
        <td >Updated By</td>
        <td >Link</td>
          </tr>
      </thead>
      <tbody class="">
    {%for data in model %}
      <tr class="">
      <td><a href="{% url 'usefullinkeditform' data.linkid %}">{{data.linkid}}</a></td>
      <td>{{data.date_time }}</td>
      <td>{{data.teamdetail }}</td>
      <td>{{data.mimember }}</td>
      <td><a href='{{data.link }}' id="link" name="link" >{{data.link }}</a</td>
   {% endfor %}
      </tr></br>
    </tbody>
    </table>
  </div>
{% endblock %}

{% block javascript %}
{% endblock %}

{% block footer %}
{% include "userprofilefootertest1.html" %}

{% endblock %}
{% block footer_right %}
<span class="subheaderformat"> Click on ID to log Error & Report Name to log Feedback</span>
{% endblock %}
