
.container {
  display: grid;
  margin-top: 40px;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 2px;
  grid-auto-rows: 65px;
  grid-template-areas:
    "a a a a a a a a"
    "b b c c d d e e"
    "b b c c d d e e"
    "f f g g h h i i"
    "f f g g h h i i"
    "j j k k l l m m"
    "j j k k l l m m"
    }


.item1 {
  grid-area: a;
}
.item2 {
  grid-area: b;
}
.item3 {
  grid-area: c;
}
.item4 {
  grid-area: d;
}
.item5 {
  grid-area: e;
}
.item6 {
  grid-area: f;
}
.item7 {
  grid-area: g;
}
.item8 {
  grid-area: h;
}
.item9 {
  grid-area: i;
}

.item10 {
  grid-area: j;
}
.item11 {
  grid-area: k;
}
.item12 {
  grid-area: l;
}
.item13 {
  grid-area: m;
}
p {color: #666666;
text-align: left;
margin-left: 10px;
margin-top: 0px;
margin-bottom: 5px;
font-family: Cambria;
font-size: 13px;
    }
