

  /*------------------------table------------------------------------------------*/

.navbar-inverse {
    background-color: #005266;
    border-color: #333333;

}

.navbar-default .navbar-nav>li>a {
  color: #d9d9d9;
  font-size: 15px;
}


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color:  #e68a00;
    background-color: #333333;
    border-color: #333333;
    font-size: 18px;
}

body {
font-family: "Cambria";
font-size: 15px;
line-height: 1.42857143;
color: #d9d9d9;
background-color: #005266;
overflow-x: hidden;
height: 100%;
}

.maincontent1 {
  margin-top: 5%;
  margin-bottom: 5%;
}


.maincontent2 {
  margin-top: 15%;
  margin-bottom: 5%;
}

#hiddenfield{
display: none;
}
label[for="hiddenfield"]
{
    display:none;
}


.filtercontainer {
  padding-top: 70px;
}

footer {
padding: 30px 0;
}

body .btn-default{
  color: #d9d9d9;
  background-color: #333333;
  border-color: #333333;
}

label {
  color: #e68a00;
  font-family: Cambria;
  font-size: 15px;
}


.box {
  background-color: #333333;
  padding-top: 10px;
}

.box1 {
  background-color: #4c4c4c;
  padding-top: 10px;
}
.box2 {
  background-color: #404040;
  padding-top: 10px;
}
.box3 {
  background-color: #404040;
  padding-top: 10px;
}
.box4 {
  background-color: #404040;
  padding-top: 5px;
}


  /*------------------------font_Color------------------------------------------------*/

.fontstyle1{color: #d9d9d9;}
.fonthoverstyle1{color: #595959;}
.fontstyle4{color: #e68a00;}
.fonthoverstyle4{color: #ff6666;}
.fontstyle11{color: #005266;}
.fontstyle10{color: #333333;}
.fontstyle12{color:#66c2ff;}
.fontstyle12:hover{color:#33adff;}

/*-----------------------------font_Family-------------------------------------------*/
.fontfamilycambria{font-family: Cambria;}
/*-----------------------------font_size-------------------------------------------*/
.fontsize12{font-size: 12px;}
.fontsize13{font-size: 13px;}
.fontsize14{font-size: 14px;}
.fontsize15{font-size: 15px;}
.fontsize18{font-size: 18px;}

.fontsize20{font-size: 20px;}
.fontsize25{font-size: 25px;}
.fontsize30{font-size: 30px;}

.backgroundcolor1 {background-color: #333333;}
.backgroundcolor2 {background-color: #005266;}
.backgroundcolor3 {background-color: #5900b3;}
.backgroundcolor4 {background-color: #602060;}
.backgroundcolor5 {background-color: #737373;}
.backgroundcolor6 {background-color: #d9d9d9;}
.backgroundcolor7 {background-color:  #804000;}
.backgroundcolor8 {background-color: #cc5200;}
/*-----------------------------Box_shadow-------------------------------------------*/
.shadow1 {box-shadow: 0px 0px 3px 5px #003d4d;}
.shadow2 {box-shadow: 0px 0px 3px 5px #003d4d;}
.shadow3 {box-shadow: 0px 0px 3px 5px #003d4d;}
.shadow4 {box-shadow: 0px 0px 3px 5px #003d4d;}
.shadow5 {box-shadow: 0px 0px 3px 5px #003d4d;}
.shadow6 {box-shadow: 0px 0px 3px 5px #003d4sd;}
.shadow7 {box-shadow: 0px 0px 3px 5px #003d4d;}
.shadow8 {box-shadow: 0px 0px 3px 5px #003d4d;}
/*-----------------------------width-------------------------------------------*/
.widthsize10per {width: 10%}
.widthsize15per {width: 15%}
.widthsize20per {width: 20%}



.position {
  position:fixed;
}

/* setting width of table */
    th, td { white-space: nowrap; }
    div.dataTables_wrapper {
        margin: 0 auto;}
    div.container {width: 90%;}


/* for index page*/
* {
  box-sizing: border-box;
}

.index_container {
  position: relative;
}

.index_container img {
  border-radius: 0%;
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2);

  vertical-align: middle;}

.index_container .text-block {
  position: absolute;
  top: 0;
  color: #f1f1f1;
  width: 90%;
  padding: 0px;
}



.card:hover {
  background-color:  #333333;
  padding-left: 5px;
  padding-top: 5px;
  border-style: solid;
  border-color: #005580;

}
.card {
  background-color: #333333;
  padding-left: 10px;
  padding-top: 10px;
  height: 50px;
  border-style: solid;
  border-color: #005580;

}
.card1:hover {
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2);
  background-color:  #006680;
  padding-left: 5px;
  padding-top: 5px;
  border-style: solid;
  border-color: #005580;

}
.card1 {
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2);
  padding-left: 10px;
  padding-top: 10px;
  height: 150px;
  border-style: solid;
  border-color: #005580;

}

    /* for about team page*/
    .about_container img {
        border-radius: 50%;
        box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);

    }

    .about_container img:hover {
      border-radius: 0%;
      box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2);
      opacity:0.8;

    }

    /* for what we do*/

    .content {
      box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2);
      background-color: #800080;
      font-family: Cambria;
      padding-left: 10%;
      margin-top: 5%;
      height: 50px;
      border-radius: 20%;
      text-align: center;
      vertical-align: middle;
      line-height: 50px;
    }

    .content:hover {
        background-color: #b300b3;

    }


    .header {
      box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2);
      background-color: #333333;
      font-family: Cambria;
      height: 50px;
      border-radius: 20%;
      text-align: center;
      vertical-align: middle;
      line-height: 50px;
    }
    /* for governance process*/
        * {
          box-sizing: border-box;
        }

        .process_container {
          position: relative;
        }

        .process_container img {
          border-radius: 0%;
          box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2);

          vertical-align: middle;}

        .process_container .text-block {
          position: absolute;
          bottom: 0;
          background: rgb(0, 0, 0); /* Fallback color */
          background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
          color: #f1f1f1;
          width: 50%;
          padding: 0px;
        }

        /* for filter tab*/

        .card_filter{
          box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2);
          padding-left: 10px;
          padding-top: 10px;
          border-style: solid;
          height: 50px;
          text-align: center;
          border-color: #004466;

        }
        .card1_filter{
          box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2);
          padding-left: 10px;
          padding-top: 10px;
          border-style: solid;
          height: 50px;
          text-align: center;
          border-color: #002233;
        }

        .card_filter:hover {
          box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2);
          background-color:  #004466;
          padding-left: 5px;
          padding-top: 15px;
          border-style: solid;
          text-align: center;
          border-color: #005580;
        }

        /* for timetracker */

        .middle{
          text-align: center;
          padding-top: 10px;
          padding-bottom: 10px;
        }
        .box5 {
          background-color: #4c4c4c;
        }
        .font{
          font-size: 13px;
        }

        /* for raw*/

        .card5{
          box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2);
          padding-left: 10px;
          padding-top: 10px;
          border-style: solid;
          height: 100px;
          text-align: center;
          border-color: #004466;

        }
        .card5:hover {
          box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2);
          background-color:  #004466;
          border-style: solid;
          text-align: center;
          border-color: #005580;
        }

        .team_container .text-block {
          position: absolute;
          bottom: 0;
          background: rgb(0, 0, 0); /* Fallback color */
          background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
          color: #f1f1f1;
          width: 90%;
          padding: 0px;
        }
