/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 100%}

/* Set gray background color and 100% height */
.sidenav {
  background-color: #ff9900;
  height: 100%;
}

.body{
  background-color: #005266;
}
/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 768px) {
  .row.content {height: auto;}
}


}

#spin {
  color:red;
}
#spin:after {
  content:"";
  animation: spin 15s linear infinite;
}
@keyframes spin {
  0% { content:"EXCEL"; }
  35% { content:"VBA"; }
  70% { content:"POWERPOINT"; }
  100% { content:"SQL"; }
  }



.sbheader {
height: 70%;
line-height: 200%;
width: 30%;
background-color:  #004d66;
font-family:'Cambria';
font-size:90%;
color: white;
margin-left:  2%;
display: inline-block;
padding-left:2%;
}

.hidden{
display: none;
}

.ui-datepicker {
background: #fff; /* Old browsers */
background: #fff -moz-linear-gradient(top, #fcfcfc 0%, #fff 100%); /* FF3.6+ */
background: #fff -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc)), color-stop(100%,#fff)); /* Chrome,Safari4+ */
background: #fff -webkit-linear-gradient(top, #fcfcfc 0%, #fff 100%); /* Chrome10+,Safari5.1+ */
background: #fff -o-linear-gradient(top, #fcfcfc 0%, #fff 100%); /* Opera11.10+ */
background: #fff -ms-linear-gradient(top, #fcfcfc 0%, #fff 100%); /* IE10+ */
background: #fff linear-gradient(top, #fcfcfc 0%, #fff 100%); /* W3C */
font-size:11px;
padding:10px;
border:1px solid #ccc;
}

.ui-datepicker table {
width:278px;
}

.ui-datepicker table td {
text-align:center;
}

.ui-datepicker a {
cursor:pointer;
text-decoration:none;
}

.ui-datepicker-prev {
}

.ui-datepicker-next {
float:right;
}

.ui-datepicker-title {
text-align: center;
font-weight:bold;
}
